<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<script src="/public/javascripts/jquery.min.js"></script>
<script src="/public/javascripts/form.storage.js"></script>
<script>
$(document).ready(function(){
  $(".hide-by-default").hide();
  //write to local storage
  $('form').storeForm();
  //play back from local storage
  $('.playback-container').getForm();
  $('body').on('change', 'input', function(){
    var $this = $(this);
    // toggle optional sections
    if ($this.is(':checkbox')){
      var $toggleTarget = $('.optional-section-'+$this.attr('name') + '[data-toggle-value="'+$this.val() + '"]');
      console.log('.optional-section-'+$this.attr('name') + '[data-toggle-value="'+$this.val() + '"]');
      if ($toggleTarget.length){
        $toggleTarget.toggle($this.is(':checked') && $this.val() == $toggleTarget.attr('data-toggle-value'));
      }
    } else if ($this.is(':radio')){
      var $toggleTarget = $('.optional-section-'+$this.attr('name'));
      console.log('.optional-section-'+$this.attr('name') + '[data-toggle-value="'+$this.val() + '"]');
      $toggleTarget.each(function(){
        $(this).toggle($this.val() == $(this).attr('data-toggle-value'));
      });
    }
  });

//hide and show stuff

if (localStorage['passport-details']) {
  var leadApplicant = JSON.parse(localStorage['passport-details']);
  var leadNationality = leadApplicant['CountryOfIssue'];
  if (leadNationality == 'Qatar'){
    $(".show-if-qatar").show();
    console.log('Showing qatar')
  }
  if (leadNationality == 'Sultanate of Oman'){
    $(".show-if-oman").show();
    console.log('Showing Oman')
  }
  if (leadNationality == 'United Arab Emirates'){
    $(".show-if-uae").show();
    $(".hide-if-uae").hide();
    console.log('Showing UAE')
  }
  if (leadNationality == 'State of Kuwait'){
    $(".show-if-kuwait").show();
    console.log('Showing Kuwait')
  }

}


if (localStorage['journey-details']) {
  var journey = JSON.parse(localStorage['journey-details']);
  var journeyDetail = journey['TravelWithOthers'];
  if (journeyDetail == 'Yes'){
    $(".show-if-others").show();
    console.log('Travelling with others')
  }

}

//show if the user has other nationalities
if (localStorage['passport-details']) {
  var leadApplicant = JSON.parse(localStorage['passport-details']);
  var hasOther = leadApplicant['OtherNationalities'];
  if (hasOther == 'yes'){
    $(".show-if-OtherNationalities").show();
    console.log('User has other nationalities')
  }
}

//show this stuff if the user has previous nationalities
if (localStorage['passport-details']) {
  var leadApplicant = JSON.parse(localStorage['passport-details']);
  var hasPrev = leadApplicant['PreviousNationalities'];
  if (hasPrev == 'yes'){
    $(".show-if-PreviousNationalities").show();
    console.log('User has previous nationalities')
  }
}

if (localStorage.getItem('lang') == "arabic") {
  $('*[data-lang="arabic"]').show();
  $('*[data-lang="eng"]').hide();
  $("html").attr("dir", "rtl")
  $("header, .banner-block, input[type='text'], footer").attr("dir", "ltr")
  console.log('Hiding english content')
} else if (localStorage.getItem('lang') == "both") {
  $("*[data-lang='arabic']").attr("dir", "rtl").addClass('rtl-both');
  $("legend[data-lang='arabic']").css('width','100%');
} else if (localStorage.getItem('lang') == "right") {
  $("*[data-lang='arabic']").attr("dir", "rtl").addClass('rtl-both');
  $("*[data-lang='eng']").attr("dir", "ltr").addClass('rtl-both');
  $("html").attr("dir", "rtl")
  $("*[data-lang='eng']").css('text-align','right');
  $("*[data-lang='arabic']").css('text-indent','0');
  $("header, .banner-block, input[type='text'], footer").attr("dir", "ltr")
} else {
  $('*[data-lang="arabic"]').hide();
  $('*[data-lang="eng"]').show();
  console.log('Hiding arabic content')
}

if (localStorage.getItem('dynamic') != "show") {
  $('.hide-if-dynamic').show();
  $('.show-if-dynamic').hide();
  console.log('Hiding dynamic content')
} else {
  $('.show-if-dynamic').show();
  $('.hide-if-dynamic').hide();
  console.log('Showing dynamic content')
}

if (localStorage.getItem('upload') == "yes") {
  $('.hide-if-upload').hide();
  $('.show-if-upload').show();
  console.log('Showing upload content')
} else {
  $('.show-if-upload').hide();
  $('.hide-if-upload').show();
  console.log('Hiding upload content')
}

if (localStorage.getItem('casework') == "yes") {
  $('.hide-if-casework').hide();
  $('.show-if-casework').show();
  console.log('Showing casework content')
} else {
  $('.show-if-casework').hide();
  $('.hide-if-casework').show();
  console.log('Hiding casework content')
}

if (localStorage.getItem('minimal') == "true") {
  $('.hide-if-minimal').hide();
  $('.show-if-minimal').show();
  console.log('Showing minimal data version')
}

if (localStorage.getItem('travel') == "first") {
    $('.hide-if-travel').hide();
    $('.show-if-travel').show();
    console.log('Showing travel first')
} else {
  $('.show-if-travel').hide();
  $('.hide-if-travel').show();
  console.log('Showing travel mid-service')
}

$('.clearStorage').click(function(){
  localStorage.clear();
  $(this).html('&#10003; Data cleared');
});

$('.minimalData').click(function(){
  localStorage.clear();
  $(this).html('&#10003; Switched to minimal data');
});

$('.manualNames').click(function(){
  localStorage.setItem('dynamic','show');
  $(this).html('&#10003; Why?! (names to dynamic)');
});

$('.uploadPassport').click(function(){
  localStorage.setItem('upload','yes');
  $(this).html('&#10003; Passport upload gadget thingy turned on. Or something. Maybe.');
});

$('.cwPassport').click(function(){
  localStorage.setItem('casework','yes');
  $(this).html('&#10003; Casework upload');
});

$(".arabicLink").click(function(){
  localStorage.setItem('lang','arabic');
  $(this).html('&#10003; All in Arabic');
})

$(".mixedLink").click(function(){
  localStorage.setItem('lang','both');
  $(this).html('&#10003; Arabic and English');
})

$(".multiple").click(function(){
  localStorage.setItem('multiple','yes');
  $(this).html('&#10003; Multiple EVW');
})

$(".rightLink").click(function(){
  localStorage.setItem('lang','right');
  $(this).html('&#10003; A&amp;En right aligned');
})

});
</script>
