// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';

// Set up your main content area <main id="content">
// This will give you a full width content block
// See elements _layout.scss line 7.

// If you need it, set up your grid layout - refer to the grid layout usage example
// See elements _layout.scss line 28.

// If you need a phase banner, put this inside the main content area
// See elements _layout.scss line 22.
.alpha-banner  {
  @include phase-banner(alpha); // Change this to (beta) for a beta banner
}
.alpha-tag {
  @include phase-tag(alpha); // Change this to (beta) for a beta tag
}

.banner-block {
  padding: 0.5em 0;
  border-bottom: 1px solid $black;
  font-size: 16px;
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.

@media (min-width: 641px){
  html[dir="rtl"] .block-label {
    float: right;
    clear:right;
    margin-right:0;
  }
}
html[dir="rtl"] {
  .form-date .form-group {
    float:right;
  }
  .button {
    margin-right:0;
  }
  .panel-indent {
    border-right: 4px solid #bfc1c3;
    border-left:none;
    padding: 10px 15px 10px 0;
    margin: 30px 0 45px 15px;
  }
  table td, table th {
    text-align: right;
    &.numeric {
      text-align: left;
    }
  }
}
.rtl-both {
  text-indent:30%;
  display:block;
}
p.no-margin, h1.no-margin{
  text-indent:0;
}

span.rtl-both, legend.lang-boths {
  width:100%;
}

.panel-success {
  clear: both;
  padding: 30px 0 30px 15px;
  margin: 30px 15px 45px 0;
  background: #28a197;
  color: #fff;
  text-align: center;
}

.button.secondary {
  background: #eee;
  color: #000;
  -webkit-box-shadow: 0 2px 0 #ccc;
  -moz-box-shadow: 0 2px 0 #ccc;
  box-shadow: 0 2px 0 #ccc;
}
.button.red {
  background: #eee;
  color: $red;
  font-weight:bold;
  -webkit-box-shadow: 0 2px 0 #ccc;
  -moz-box-shadow: 0 2px 0 #ccc;
  box-shadow: 0 2px 0 #ccc;
}

strong {
  font-weight:bold;
}
.hide-by-default {
  display:none;
}
