// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';

// Set up your main content area <main id="content">
// This will give you a full width content block
// See elements _layout.scss line 7.

// If you need it, set up your grid layout - refer to the grid layout usage example
// See elements _layout.scss line 28.

// If you need a phase banner, put this inside the main content area
// See elements _layout.scss line 22.
.alpha-banner  {
  @include phase-banner(alpha); // Change this to (beta) for a beta banner
}
.alpha-tag {
  @include phase-tag(alpha); // Change this to (beta) for a beta tag
}

.banner-block {
  padding: 0.5em 0;
  border-bottom: 1px solid $black;
  font-size: 16px;
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.

@media (min-width: 641px){
  html[dir="rtl"] .block-label {
    float: right;
    clear:right;
    margin-right:0;
  }
}
html[dir="rtl"] {
  .form-date .form-group {
    float:right;
  }
  .button {
    margin-right:0;
  }
  .panel-indent {
    border-right: 4px solid #bfc1c3;
    border-left:none;
    padding: 10px 15px 10px 0;
    margin: 30px 0 45px 15px;
  }
  table td, table th {
    text-align: right;
    &.numeric {
      text-align: left;
    }
  }
  p, label, legend, table, tr, td {
    font-size: 22px;
  }
}

p, label, legend, table, tr, td {
  &[dir="rtl"], [dir="rtl"] {
    font-size: 22px;
  }
}


@media (max-width: 640px) {
  .rtl-both {width:100%;}
}
@media (min-width: 641px) {
  .rtl-both {
    padding-right:50%;
    display:block;
  }
  legend.rtl-label {min-width:50%;}
  body.body-rtl-both #content p[data-lang='eng'], body.body-rtl-both #content label:not(.rtl-both) {max-width:50%;}

}

p.no-margin, h1.no-margin{
  text-indent:0;
}

span.rtl-both, legend.lang-boths {
  width:100%;
}

.panel-success {
  clear: both;
  padding: 30px 0 30px 15px;
  margin: 30px 15px 45px 0;
  background: #28a197;
  color: #fff;
  text-align: center;
}

.button.secondary {
  background: #eee;
  color: #000;
  -webkit-box-shadow: 0 2px 0 #ccc;
  -moz-box-shadow: 0 2px 0 #ccc;
  box-shadow: 0 2px 0 #ccc;
}
.button.red {
  background: #eee;
  color: $red;
  font-weight:bold;
  -webkit-box-shadow: 0 2px 0 #ccc;
  -moz-box-shadow: 0 2px 0 #ccc;
  box-shadow: 0 2px 0 #ccc;
}

strong {
  font-weight:bold;
}
.hide-by-default {
  display:none;
}
label .rtl-both {text-indent:0;}

.uploadbox {
  //background: #005ea5;
  //padding: 1em;
  //h1,p,h2, li {color:#fff;}
  .button {
    //background: #fff;
    //color: #005ea5;
    //box-shadow: 0 2px 0 #003A66;
  }
  h1 {margin-bottom: 1em;}
  hr {
    margin: 2em 0;
    border: 1px solid white;
  }
}

label.form-label-bold, legend.form-label-bold {font-weight: normal; font-size: 19px;}

@media (min-width: 641px){
  .form-control {
    width: 33%;
  }
  .form-control[name="PassportNumber"] {
    width: 25%;
  }
  .form-control[name*="names"],.form-control[name*="Names"]{
    width:50%;
  }
}

#arStart {
  background-image: url(https://dl.dropboxusercontent.com/u/18077450/icon-pointer-2x-reverse.png);
    background-position: 1px;
    text-align: right;
    padding-left: 2em;
    padding-right: 0.5em;
}

.waiting, .got {
  background-image: url('/public/img/spinner.gif');
  background-repeat: no-repeat;
  background-position: 30px 30px;
  margin: 30px 0;
  line-height: 32px;
  padding: 30px;
  text-indent: 50px;

  border: 2px dashed rgb(111, 119, 123);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  p {
    margin: 0;
  }
}
.got {
  background-image: url('/public/img/323_checkmark_40.png');
  background-position: 30px 20px;
  border-color: #347B3E;
  display: none;
}

.acceptReject a {
  line-height:40px;
  height: 40px;
  display: inline-block;
  span {
    background-color: black;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    display: inline-block;
    color: white;
    line-height: 40px;
    background-image: url('/public/images/icon-pointer.png');
    background-repeat: no-repeat;
    background-position: 14px 10px;
    float:left;
    margin: 0 15px;
  }
  &.accept {
    float:right;
    span {
      float:right;
    }
  }
  &.reject {
    span {
      background-image: url('/public/img/icon-pointer-reverse.png');
      background-position: -4px 10px;
    }
  }
}

.uploadMethods {
  border: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-top: 30px;
  padding-bottom: 15px;
  .heading-medium {
    padding: 15px;
    margin: 15px 0;
  }
  .column-third:nth-child(3) {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
  }
  img {
    padding-right: 10px;
  }
  .uploadCol .button, .webcamCol .button {
    margin-top:7px;
    margin-left: 10px;
  }
}


body.body-rtl-both {
  .form-group {
    border-bottom: 20px solid #fff;
    box-shadow: 0 1px 0 #ccc;
  }
  .form-group-day, .form-group-month, .form-group-year, .form-group-compound, .form-group.grid-row {
    border-bottom: none;
    box-shadow: none ;
  }
}


.button.secondary.downloadIcon {
  background-image: url('/public/img/pdficon.png');
  background-repeat: no-repeat;
  background-position: 20px 13px;
  padding-left: 140px;
  line-height: 100px;
  font-size: 1.6em;
}



.evw-list {
	counter-reset: my-evw-counter;
  dt:before {
  	content: counter(my-evw-counter);
  	counter-increment: my-evw-counter;
  }
  dt:before {
    content: counter(my-evw-counter);
    counter-increment: my-evw-counter;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.5em;
    font-weight: bold;
    background: #000;
    color: #fff;
    border-radius: 50%;
    display:inline-block;
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    margin-top: 5px;
  }
  dt {
    position: relative;
    padding: 4px 0 10px 60px;
  }
}
