<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <!-- This disables auto detection of phone numbers in some clients. Remove if not needed. -->
    <meta name="format-detection" content="telephone=no">
    <title>Page title</title>
</head>
<body style="font-family: Helvetica, Arial, sans-serif;font-size: 16px;margin: 0;color:#0b0c0c">

    <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td width="100%" height="53px" bgcolor="#0b0c0c">
            <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td width="50%" bgcolor="#0b0c0c" valign="middle">
                        <!-- This asset should be hosted by the service -->
                        <img src="http://govuk-prototyping.herokuapp.com/hmrc-email/govuk_logotype_email.png" alt="GOV.UK" border="0">
                    </td>
                    <td align="" style="color:#fff; text-align:right; width:50%;">
                      Electronic Visa Waiver
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF" style="margin-bottom: 19px">
        <tr>
            <td width="100%">
                <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                    <tr>
                        <td width="75%">
                          <br><br>
                                                      <div style="
                                                          background-image: url('/public/img/pdficon.png');
                                                          background-repeat: no-repeat;
                                                          background-position: 20px 13px;
                                                          padding-left: 90px;
                                                          line-height: 100px;
                                                          font-size: 1.6em;
                                                          background-color: #eee;
                                                          color: #000;
                                                          -webkit-box-shadow: 0 2px 0 #ccc;
                                                          -moz-box-shadow: 0 2px 0 #ccc;
                                                          box-shadow: 0 2px 0 #ccc;
                                                          height: 125px;
                                                          line-height: 125px;
                                                          text-align:center;
                                                      ">
                                                        Download
                                                        -
                                                        تحميل
                                                      </div>
                                                      <br><br>

                        </td>
                    <td width="25%">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>

</html>
