<div class="form-group">

<!--  <legend class="form-label-bold" data-lang="eng">Country of issue</legend>
  <legend class="form-label-bold" data-lang="arabic">بلد الإصدار</legend>-->

  <label class="block-label" for="country-1">
    <input id="country-1" name="CountryOfIssue" value="Qatar" type="radio" data-storage="Qatar">
    <span data-lang="eng">Qatar</span>
    <span data-lang="arabic">قطر</span>
  </label>

  <label class="block-label" for="country-2">
    <input id="country-2" name="CountryOfIssue" value="Kuwait" type="radio" data-storage="State of Kuwait">
    <span data-lang="eng">State of Kuwait</span>
    <span data-lang="arabic">دولة الكويت</span>
  </label>

  <label class="block-label" for="country-3">
    <input id="country-3" name="CountryOfIssue" value="Oman" type="radio" data-storage="Sultanate of Oman">
    <span data-lang="eng">Sultanate of Oman</span>
    <span data-lang="arabic">سلطنة عمان</span>
  </label>

  <label class="block-label" for="country-4">
    <input id="country-4" name="CountryOfIssue" value="United Arab Emirates" type="radio" data-storage="United Arab Emirates">
    <span data-lang="eng">United Arab Emirates</span>
    <span data-lang="arabic">الإمارات العربية المتحدة</span>
  </label>

</div>
