<div class="form-group">

  <legend class="form-label-bold">Country of issue</legend>

  <label class="block-label" for="country-1">
    <input id="country-1" name="CountryOfIssue" value="Qatar" type="radio" data-storage="Qatar">Qatar
  </label>

  <label class="block-label hide-by-default" for="country-2">
    <input id="country-2" name="CountryOfIssue" value="Kuwait" type="radio" data-storage="State of Kuwait">State of Kuwait
  </label>

  <label class="block-label" for="country-3">
    <input id="country-3" name="CountryOfIssue" value="Oman" type="radio" data-storage="Sultanate of Oman">Sultanate of Oman
  </label>

  <label class="block-label" for="country-4">
    <input id="country-4" name="CountryOfIssue" value="United Arab Emirates" type="radio" data-storage="United Arab Emirates">United Arab Emirates
  </label>

</div>
