<h1 class="heading-xlarge">التأشيرة الإلكترونية</h1>

<p>لن تحتاج للحصول على تأشيرة ورقية لزيارة المملكة المتحدة لمدة أقصاها 6 شهور إذا كنت حائزا على جواز سفر من الدول التالية:</p>
<ul class="list-bullet">
  <li>دولة الكويت</li>
  <li>سلطنة عُمان</li>
  <li>دولة قطر</li>
  <li>الإمارات العربية المتحدة</li>
</ul>
<p>إذا كنت حائزا على أي من جوازات الدول أعلاه، فيمكنك أن تكمل نموذجا بسيطا على الإنترنت للحصول على تأشيرة إلكترونية لزيارة المملكة المتحدة. هذه خدمة مجانية معروفة باسم "الإعفاء من التأشيرة الورقية".</p>
<p>يمكنك أن تستخدم التأشيرة الإلكترونية لزيارة المملكة المتحدة لمدة أقصاها 6 شهور. إذا رغبت بإجراء عدة رحلات للمملكة المتحدة فعليك أن تكمل نموذج تأشيرة إلكترونية لكل زيارة.</p>
<p> يمكنك أن تستخدم التأشيرة الإلكترونية لزيارة:</p>
<ul class="list-bullet">
  <li>سياحية</li>
  <li>عمل</li>
  <li>دراسة</li>
</ul>
<p>لا يمكنك أن تستخدم التأشيرة الإلكترونية لغرض:</p>
<ul class="list-bullet">
  <li>التوظف</li>
  <li>الزواج (الديني أو المدني)</li>
</ul>
<p>يجب عليك أن تحمل صورة عن جواز سفرك في نموذج طلب التأشيرة الإلكترونية. لن يطلب منك أن تعطي بصماتك أو زيارة مركز طلب التأشيرات.</p>
<p>لإكمال النموذج يجب عليك أن توفر:</p>
<ul class="list-bullet">
  <li>جواز سفرك الساري المفعول</li>
  <li>عنوان في المملكة المتحدة حيث ستسكن</li>
  <li>معلومات رحلاتك إلى المملكة المتحدة ومنها (بما فيه تواريخ وأوقات المغادرة والعودة)</li>
</ul>
<p>يجب أن تقدم الطلب قبل موعد السفر للمملكة المتحدة بمدة لا تقل عن 48 ساعة</p>
<p>إذا كنت تسافر ضمن مجموعة، فعلى كل فرد بالمجموعة أن يقدم طلب تأشيرة إلكترونية لأجل السفر.</p>
