<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <!-- This disables auto detection of phone numbers in some clients. Remove if not needed. -->
    <meta name="format-detection" content="telephone=no">
    <title>Electronic Visa Waiver application received</title>
</head>
<body style="font-family: Helvetica, Arial, sans-serif;font-size: 16px;margin: 0;color:#0b0c0c">

    <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td width="100%" height="53px" bgcolor="#0b0c0c">
            <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td width="50%" bgcolor="#0b0c0c" valign="middle">
                        <!-- This asset should be hosted by the service -->
                        <img src="http://govuk-prototyping.herokuapp.com/hmrc-email/govuk_logotype_email.png" alt="GOV.UK" border="0">
                    </td>
                    <td align="" style="color:#fff; text-align:right; width:50%;">
                      Electronic Visa Waiver
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF" style="margin-bottom: 19px">
        <tr>
            <td width="100%">
                <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                    <tr>
                        <td width="100%">

                            <h1 style="font-size: 36px; line-height: 1.315789474;  margin: 19px 0 38px 0;">
                                Electronic Visa Waiver: more information needed
                            </h1>

                            <p style="font-size: 19px; line-height: 1.315789474; margin: 30px 0 30px 0;">
                                Dear A Name,
                            </p>
                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                                إلى
                            </p>
                            <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                                ​There is a problem with your Electronic Visa Waiver (EVW).
                            </p>
                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                              هناك خطأ في طلب الإعفاء الإلكتروني من التأشيرة الذي قدمته.
                            </p>
                            <p style="border-left: 10px #dee0e2 solid; padding: 14px 0 14px 14px; font-size: 19px; line-height: 1.315789474; margin: 0 0 19px 0;">
                                You must reply to this email with the correct details at least 48 hours before travelling. Otherwise, we won’t be able to send you an EVW and you won’t be able to travel.
                            </p>
                            <p style="border-right: 10px #dee0e2 solid; padding: 14px 14px 14px 0;  font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                                يجب أن تجيب على رسالة البريد الإلكتروني هذه موفرا المعلومات الصحيحة بمدة لا تقل عن 48 ساعة من تاريخ السفر، وإلا لن نستطيع أن نصدر لك الإعفاء الإلكتروني من التأشيرة وبالتالي لن تستطيع أن تسافر.
                            </p>
                            <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                              The following details you gave do not match the details in your passport:
                            </p>
                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                              لا تتطابق المعلومات التالية مع المعلومات في جواز سفرك:
                            </p>

                            <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                              The name you gave on the form is not exactly the same as the name in your passport
                            </p>
                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                              الاسم الذي أدخلته بالنموذج باللغة الإنجليزية، لا يتطابق بالضبط مع اسمك كما هو مكتوبا في جواز سفرك
                            </p>
                            <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                              The family name you gave on the form is not exactly the same as the family name in your passport
                            </p>
                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                              اسم العائلة الذي أدخلته بالنموذج باللغة الإنجليزية، لا يتطابق بالضبط مع اسم عائلتك كما هو مكتوبا في جواز سفرك
                            </p>
                            <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                              The given names you gave on the form are not exactly the same as those in your passport
                            </p>
                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                              اسمك الأول الذي أدخلته بالنموذج باللغة الإنجليزية، لا يتطابق بالضبط مع اسمك الأول كما هو مكتوبا في جواز سفرك
                            </p>
                            <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                              The date of birth you gave on the form is not the same as the date of birth in your passport
                            </p>
                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                              تاريخ الولادة الذي أدخلته بالنموذج باللغة الإنجليزية، لا يتطابق بالضبط مع تاريخ الولادة كما هو مكتوبا في جواز سفرك
                            </p>
                            <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                              The passport number you gave on the form is not the same as the number in your passport
                            </p>
                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                              رقم جواز السفر الذي أدخلته بالنموذج باللغة الإنجليزية، لا يتطابق بالضبط مع رقم جواز السفر كما هو مكتوبا في جواز سفرك
                            </p>
                            <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                              The nationality you gave on the form is not the same as the nationality in your passport
                            </p>
                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                              الجنسية الذي أدخلتها بالنموذج باللغة الإنجليزية، لا تتطابق بالضبط مع الجنسية كما هي مكتوبة في جواز سفرك
                            </p>
                            <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                              The picture of your passport photo page can’t be read and you must send a better quality picture
                            </p>
                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                              لا يمكن قراءة نسخة صفحة المعلومات الشخصية في جواز سفرك، لذلك، عليك أن ترسل لنا صورة ذات جودة أفضل.
                            </p>
                            <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                              The picture you sent is not of your passport photo page so you must send a new picture
                            </p>
                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                              النسخة التي أرسلتها ليست لصفحة المعلومات الشخصية في جواز سفرك، لذلك عليك أن ترسل لنا نسخة جديدة
                            </p>


                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;">
                                Electronic Visa Waiver Team
                            </p>
                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                                فريق الإعفاء الإلكتروني من التأشيرة
                            </p>

                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;">
                              <img src="http://www.brokenrainbow.org.uk/sites/default/files/Home%20Office.png" style="width:200px">
                            </p>
                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;">
                              <a style="white-space: nowrap" href="mailto:evw-details-change@ukvi.gov.uk">evw-details-change@ukvi.gov.uk</a>
                              <br>
                              +44 (0)207 123 1234
                            </p>

                        </td>
                    <td width="0%">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>

</html>
