<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <!-- This disables auto detection of phone numbers in some clients. Remove if not needed. -->
    <meta name="format-detection" content="telephone=no">
    <title>Electronic Visa Waiver application received</title>
</head>
<body style="font-family: Helvetica, Arial, sans-serif;font-size: 16px;margin: 0;color:#0b0c0c">

    <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td width="100%" height="53px" bgcolor="#0b0c0c">
            <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td width="50%" bgcolor="#0b0c0c" valign="middle">
                        <!-- This asset should be hosted by the service -->
                        <img src="http://govuk-prototyping.herokuapp.com/hmrc-email/govuk_logotype_email.png" alt="GOV.UK" border="0">
                    </td>
                    <td align="" style="color:#fff; text-align:right; width:50%;">
                      Electronic Visa Waiver
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF" style="margin-bottom: 19px">
        <tr>
            <td width="100%">
                <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                    <tr>
                        <td width="100%">

                            <h1 style="font-size: 36px; line-height: 1.315789474;  margin: 19px 0 38px 0;">
                                Electronic Visa Waiver:  request expired
                            </h1>

                            <p style="font-size: 19px; line-height: 1.315789474; margin: 30px 0 30px 0;">
                                Dear A Name,
                            </p>
                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                                إلى
                            </p>
                            <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                                ​We asked you to send us some information about your Electronic Visa Waiver (EVW) but we did not get this in time.
                            </p>
                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                              طلبنا منك أن ترسل لنا بعض المعلومات عن طلبك للحصول على الإعفاء الإلكتروني من التأشيرة، ولكننا لم نستلمها بالوقت المحدد
                            </p>
                            <p style="border-left: 10px #dee0e2 solid; padding: 14px 0 14px 14px; font-size: 19px; line-height: 1.315789474; margin: 0 0 19px 0;">
                                This means your application has expired and we cannot send you an EVW.
                            </p>
                            <p style="border-right: 10px #dee0e2 solid; padding: 14px 14px 14px 0;  font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                                وهذا يعني أن طلبك قد انتهى ولا يمكننا أن نصدر لك الإعفاء الإلكتروني من التأشيرة.
                            </p>
                            <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                              This does not stop you applying for an EVW in the future.
                            </p>
                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                              هذا لا يمنعك من التقدم مرة أخرى.
                            </p>

                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;">
                                Electronic Visa Waiver Team
                            </p>
                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                                فريق الإعفاء الإلكتروني من التأشيرة
                            </p>

                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;">
                              <img src="http://www.brokenrainbow.org.uk/sites/default/files/Home%20Office.png" style="width:200px">
                            </p>
                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;">
                              <a style="white-space: nowrap" href="mailto:evw-details-change@ukvi.gov.uk">evw-details-change@ukvi.gov.uk</a>
                              <br>
                              +44 (0)207 123 1234
                            </p>

                        </td>
                    <td width="0%">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>

</html>
