<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <!-- This disables auto detection of phone numbers in some clients. Remove if not needed. -->
    <meta name="format-detection" content="telephone=no">
    <title>Electronic Visa Waiver application received</title>
</head>
<body style="font-family: Helvetica, Arial, sans-serif;font-size: 16px;margin: 0;color:#0b0c0c">

    <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td width="100%" height="53px" bgcolor="#0b0c0c">
            <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td width="50%" bgcolor="#0b0c0c" valign="middle">
                        <!-- This asset should be hosted by the service -->
                        <img src="http://govuk-prototyping.herokuapp.com/hmrc-email/govuk_logotype_email.png" alt="GOV.UK" border="0">
                    </td>
                    <td align="" style="color:#fff; text-align:right; width:50%;">
                      Electronic Visa Waiver
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF" style="margin-bottom: 19px">
        <tr>
            <td width="100%">

                <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                  <tr>
                    <td ><h1 style="font-size: 36px; line-height: 1.315789474;  margin: 19px 0 38px 0;">
                        Electronic Visa Waiver application received
                    </h1></td>
                  </tr>
                </table>
                <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                    <tr>
                        <td width="50%">



                            <p style="font-size: 19px; line-height: 1.315789474; margin: 30px 0 30px 0;">
                                Dear A Name,
                            </p>

                            <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                                We have received your Electronic Visa Waiver (EVW) application.
                            </p>

                            <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                                Your application reference is XXXXXXXXXX.
                            </p>



                            <p style="border-left: 10px #dee0e2 solid; padding: 14px 0 14px 14px; font-size: 19px; line-height: 1.315789474; margin: 0 0 19px 0;">
                              This is not your EVW number.
                            </p>

                            <h2 style="font-size: 24px; line-height: 1.315789474;  margin: 38px 0 19px 0;">
                                What happens next?</h2>

                            <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">We will now check your details before we issue your EVW.</p>

                            <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Everything must be exactly the same as what is on your passport. Otherwise you will get an email asking for the correct information.​</p>

                            <h2 style="font-size: 24px; line-height: 1.315789474;  margin: 38px 0 19px 0;">When will you get your EVW?</h2>

                            <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">You will receive your EVW within 24 hours after making the application.</p>

                            <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">You will get an email once your details are confirmed. It will have a link to download your EVW.</p>

                            <h2 style="font-size: 24px; line-height: 1.315789474;  margin: 38px 0 19px 0;">
                                Changing your details
                            </h2>



                            <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                                Email
                                <!-- URLs have white-space: nowrap so that they don't wrap -->
                                <a style="white-space: nowrap" href="mailto:evw-details-change@ukvi.gov.uk">evw-details-change@ukvi.gov.uk</a>

                                if you need to change your EVW details​, eg if your UK arrival date has changed.

                            </p>

                            <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Any changes must be made at least 48 hours before you depart for the UK.</p>



                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;">
                                Electronic Visa Waiver Team
                            </p>


                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;">
                              <img src="http://www.brokenrainbow.org.uk/sites/default/files/Home%20Office.png" style="width:200px">
                            </p>
                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;">
                              <a style="white-space: nowrap" href="mailto:evw-details-change@ukvi.gov.uk">evw-details-change@ukvi.gov.uk</a>
                              <br>
                              +44 (0)207 123 1234
                            </p>

                        </td>
                    <td width="50%" style="vertical-align:top;">

                      <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                          إلى
                      </p>
                      <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">

                      لقد استلمنا طلبك للحصول على الإعفاء الإلكتروني من التأشيرة

                      </p>
                      <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">

                      رقم مرجع طلبك هو: ×××××××

                      </p>
                      <p style="border-right: 10px #dee0e2 solid; padding: 14px 14px 14px 0;  font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">

                      هذا ليس رقم الإعفاء الإلكتروني من التأشيرة

                      </p>
                      <h2 style=" font-size: 24px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                          ما سيحدث تاليا؟
                      </h2>
                      <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">

                      سنقوم بتفحص معلوماتك قبل أن نصدر لك الإعفاء الإلكتروني من التأشيرة

                      </p>
                      <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">

                      يجب أن يتطابق كل المعلومات بالضبط مع المعلومات في جواز سفرك، وإلا ستستلم رسالة بريد إلكتروني تطلب منك أن توفر المعلومات الصحيحة.

                      </p>
                      <h2 style=" font-size: 24px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                          متى ستستلم الإعفاء الإلكتروني من التأشيرة؟
                      </h2>
                      <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">

                      ستحصل على الإعفاء الإلكتروني من التأشيرة ضمن 24 ساعة بعد تقديم الطلب.

                      </p>
                      <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">

                      ستستلم رسالة بريد إلكتروني حالما يتم تأكيد معلوماتك. وستحتوي على وصلة لتنزيل الإعفاء الإلكتروني من التأشيرة.

                      </p>
                      <h2 style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                          تغيير معلوماتك
                      </h2>
                      <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">

                      راسل <a style="white-space: nowrap" href="mailto:evw-details-change@ukvi.gov.uk">evw-details-change@ukvi.gov.uk</a> إذا احتجت أن تغير معلومات الإعفاء الإلكتروني من التأشيرة، على سبيل المثال، إذا تغير تاريخ سفرك للمملكة المتحدة.

                      </p>
                      <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">

                      يجب أن تتم أي تغييرات بمدة لا تقل عن 48 ساعة قبل موعد سفرك للمملكة المتحدة.

                      </p>

                      <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                          فريق الإعفاء الإلكتروني من التأشيرة
                      </p>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>

</html>
