<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <!-- This disables auto detection of phone numbers in some clients. Remove if not needed. -->
    <meta name="format-detection" content="telephone=no">
    <title>Electronic Visa Waiver application received</title>
</head>
<body style="font-family: Helvetica, Arial, sans-serif;font-size: 16px;margin: 0;color:#0b0c0c">

    <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td width="100%" height="53px" bgcolor="#0b0c0c">
            <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td width="50%" bgcolor="#0b0c0c" valign="middle">
                        <!-- This asset should be hosted by the service -->
                        <img src="http://govuk-prototyping.herokuapp.com/hmrc-email/govuk_logotype_email.png" alt="GOV.UK" border="0">
                    </td>
                    <td align="" style="color:#fff; text-align:right; width:50%;">
                      Electronic Visa Waiver
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF" style="margin-bottom: 19px">
        <tr>
            <td width="100%">
                <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                    <tr>
                        <td width="100%">

                            <h1 style="font-size: 36px; line-height: 1.315789474;  margin: 19px 0 38px 0;">
                                Electronic Visa Waiver application received
                            </h1>

                            <p style="font-size: 19px; line-height: 1.315789474; margin: 30px 0 30px 0;">
                                Dear A Name,
                            </p>
                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                                إلى
                            </p>

                                                        <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                                                            ​Your Electronic Visa Waiver (EVW) is ready. The reference number is XXXXXXX.
                                                        </p>
                                                        <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                                                            الإعفاء الإلكتروني من التأشيرة جاهزة. رقم التأشيرة هو: ×××××
                                                        </p>

                                                                                    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                                                                                        <a href="#">​Download your EVW</a>
                                                                                    </p>
                                                                                    <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                                                                                        <a href="#">
لتنزيل الإعفاء الإلكتروني من التأشيرة
</a>
                                                                                    </p>

                            <h2 style="font-size: 24px; line-height: 1.315789474;  margin: 38px 0 19px 0;">
                                What to do now</h2>
                                <h2 style=" font-size: 24px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                                    ما تفعل الآن؟
                                </h2>


                            <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Please check your EVW: you may not be allowed to travel to the UK if your passport or travel details don’t exactly match your EVW.</p>

                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">

الرجاء تفقد المعلومات في الإعفاء الإلكتروني من التأشيرة. لن يسمح لك بالسفر للمملكة المتحدة إذا لم تتطابق معلومات جواز سفرك أو معلومات الرحلة مع تلك المذكورة في الإعفاء الإلكتروني من التأشيرة.

                            </p>

                            <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">You must email <a style="white-space: nowrap" href="mailto:evw-details-change@ukvi.gov.uk">evw-details-change@ukvi.gov.uk</a> if the details on it are wrong or your travel details change (eg you change your flight dates or times).</p>

                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">

يجب أن تراسل <a style="white-space: nowrap" href="mailto:evw-details-change@ukvi.gov.uk">evw-details-change@ukvi.gov.uk</a> إذا كانت أي من المعلومات في الإعفاء الإلكتروني من التأشيرة غير صحيحة أو تغيرت معلومات الرحلة (مثال، غيرت موعد رحلتك).
                            </p>

                            <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Any changes must be made at least 48 hours before you depart for the UK.</p>

                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">

يجب أن تتم أي تغييرات بمدة لا تقل عن 48 ساعة قبل موعد سفرك للمملكة المتحدة.

                            </p>

                            <h2 style="font-size: 24px; line-height: 1.315789474;  margin: 38px 0 19px 0;">
                                When you travel</h2>
                                <h2 style=" font-size: 24px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                                    عندما تسافر
                                </h2>

                                <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;">
You have to show your EVW when you board your plane, train or boat to the UK and when you arrive at UK immigration controls.
</p>
                                <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
يجب عليك أن تظهر الإعفاء الإلكتروني من التأشيرة عندما تركب الطائرة أو القطار أو السفينة للمملكة المتحدة وأيضا لموظفي الهجرة في نقطة الوصول في المملكة المتحدة
</p>

                                <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;">
You can print a paper copy or show it on an electronic device (eg smartphone or tablet).
</p>
                                <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
يمكنك أن تطبع نسخة ورقية أو تستخدم نسخة في جهاز إلكتروني، مثل الهاتف الذكي أو اللوحة.
</p>

                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;">
                                Electronic Visa Waiver Team
                            </p>
                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;" dir="rtl">
                                فريق الإعفاء الإلكتروني من التأشيرة
                            </p>

                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;">
                              <img src="http://www.brokenrainbow.org.uk/sites/default/files/Home%20Office.png" style="width:200px">
                            </p>
                            <p style=" font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;">
                              <a style="white-space: nowrap" href="mailto:evw-details-change@ukvi.gov.uk">evw-details-change@ukvi.gov.uk</a>
                              <br>
                              +44 (0)207 123 1234
                            </p>

                        </td>
                    <td width="0%">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>

</html>
