{{<layout}}

{{$pageTitle}}Your journey to the UK{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/banner}}
  <h1 class="heading-large" data-lang="eng">Your personal details</h1>
  <p data-lang="eng">We may need to contact you about the information you have provided, and to send you your EVW.</p>

	<form name="contact-details">

	<div class="form-group hide-if-minimal">
    <label class="form-label-bold label" for="HomeAddress" data-lang="eng">Home address <span class="form-hint">What is the full address of your main residence</span></label>
    <label class="form-label-bold label" for="HomeAddress" data-lang="arabic">عنوان البيت <span class="form-hint">أعطي العنوان الكامل للمقر الرئيسي الخاص بك </span></label>
		<input type="text" name="HomeAddress1" class="form-control"><br />
		<input type="text" name="HomeAddress2" class="form-control"><br />
		<input type="text" name="HomeAddress3" class="form-control"><br />
		<input type="text" name="HomeAddress4" class="form-control"><br />
		<input type="text" name="HomeAddress5" class="form-control">
	</div>

	<!-- check GDS guidance on international phone numbers, add help text -->

	<div class="form-group">
    <label class="form-label-bold label" for="PhoneNumber" data-lang="eng">Phone number</label>
    <label class="form-label-bold label" for="PhoneNumber" data-lang="arabic">رقم الهاتف</label>
		<input type="text" name="PhoneNumber" class="form-control">
	</div>

	<div class="form-group">
    <label class="form-label-bold label" for="Email" data-lang="eng">Email address <span class="form-hint">We will send your electronic visa waiver to this address.</span></label>
    <label class="form-label-bold label" for="Email" data-lang="arabic">عنوان البريد الإلكتروني <span class="form-hint">.سوف نرسل  الإعفاء الإلكتروني من التأشيرة إلى هذا العنوان</span></label>
		<input type="text" name="Email" class="form-control">

    <details>
                <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="false"><span class="summary">Send a copy to another email address</span></summary>
                <div class="panel-indent" id="details-content-0" aria-hidden="true" style="display: none;">
                  <p>
                    If you would like a copy of your Electronic Visa Waiver sent to another email address, please include it here.
                    <label class="form-label" for="second-email">Email</label>
                    <input type="text" class="form-control" id="second-email" name="second-email">
                  </p>
                </div>
              </details>

	</div>


	<!-- Confirmation pattern: inset statement "We will use this address if we need to email you: [email address]" -->


	<div class="form-group hide-if-minimal">
    <label class="form-label-bold label" for="Occupation" data-lang="eng">Your occupation</label>
    <label class="form-label-bold label" for="Occupation" data-lang="arabic">وظيفتك</label>
		<input type="text" name="Occupation" class="form-control">
	</div>

	<div class="form-group hide-if-minimal">
    <label class="form-label-bold label" for="CompanyName" data-lang="eng">Company name</label>
    <label class="form-label-bold label" for="CompanyName" data-lang="arabic">اسم الشركة</label>
		<input type="text" name="CompanyName" class="form-control">
	</div>

	</form>

  	<a href="review-answers" class="button hide-if-casework">
      <span data-lang="eng">Continue</span>
      <span data-lang="arabic">استمر</span>
    </a>

    	<a href="upload-casework" class="button hide-by-default show-if-casework">
        <span data-lang="eng">Continue</span>
        <span data-lang="arabic">استمر</span>
      </a>

</main>
{{/content}}

{{/layout}}
