{{<layout}}

{{$pageTitle}}Declaration and consent{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <h1 class="heading-large">Declaration and consent</h1>
  <h2 class="heading-medium">I declare that:</h2>
  
  <!-- learning from this: https://userresearch.blog.gov.uk/2014/07/30/reversing-a-circle-of-mistrust-2/ -->

	<p>The information I have given is complete and accurate to the best of my knowledge and belief. 
	I am aware that if I do not comply with applicable UK laws governing immigration and nationality I could be liable to a fine and/or imprisonment, my leave to enter or remain in the UK could be cancelled or curtailed and I could face removal.</p>

	<p>I understand it is an offence under the Immigration Act 1971 to obtain or seek to obtain leave to enter or remain in the UK by means which include deception.</p> 

	<p>I understand that all information provided by me will be processed by UK Visa &amp; Immigration in accordance with the Data Protection Act 1998 and other related legislation. I am aware that UK Visa &amp; Immigration is the data controller in relation to the information provided by me on this form. I am aware that the information I provide will be disclosed to other government departments, agencies, local authorities, foreign governments, and other bodies, to enable UK Visa &amp; Immigration or those bodies to perform their functions. Any disclosure will be in accordance with the Data Protection Act 1998 and other related legislation. I also understand that the information provided by me may also be used for staff training purposes.</p> 

	<p>I also consent to the processing of information provided by me by UK Visa and Immigration</p>

	<form>



	  <fieldset>
	    
	    <label class="block-label" for="declaration-agreement">
	      <input id="declaration-agreement" type="checkbox" value="Agree">
	      I agree
	    </label>
	  </fieldset>

	</form>

</main>
{{/content}}

{{/layout}}

