{{<layout}}

{{$pageTitle}}Declaration and consent{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <article role="article" class="hide-if-offline">
        <div class="panel-success ihs-complete">
          <h2 class="bold-large hide-if-anz append-id">✔ Your electronic visa waiver reference is EVW79062</h2>
        </div>
        <p class="bold-small">Please print this out.</p>
        <hr>
        <br>
        <p>What happens next?</p>
        <ul class="list-bullet">
          <li>print this page</li>
          <li>bring the printed page with you when travelling</li>
          <li>present this page as proof of your electronic visa waiver when requested by airline or border staff</li>
        </ul>

        <hr>

        <h2 class="heading-medium">Your details</h2>

        <table>
          <thead>
            <tr>
              <th scope="col" width="60%">
                <span data-lang="eng">Your passport details</span>
                <span data-lang="arabic">تفاصيل جواز سفرك</span>
              </th>
              <th scope="col" width="40%" class="numeric"></th>
            </tr>
          </thead>
          <tbody class="playback-container" name="passport-details">
            <tr>
              <td>
                <span data-lang="eng">Passport number</span>
                <span data-lang="arabic">رقم جواز السفر	</span>
              </td>
              <td><span class="playback-cell" data-playback="PassportNumber"></span></td>
            </tr>
            <tr class="hide-by-default show-if-uae">
              <td>
                <span data-lang="eng">First Names</span>
                <span data-lang="arabic">الأسماء الأولى</span>
              </td>
              <td><span class="playback-cell" data-playback="UAEFirstNames"></span></td>
            </tr>
            <tr class="hide-by-default show-if-uae">
              <td>
                <span data-lang="eng">Surname</span>
                <span data-lang="arabic">لقب</span>
              </td>
              <td><span class="playback-cell" data-playback="UAESurnames"></span></td>
            </tr>
            <tr class="hide-by-default show-if-oman">
              <td>
                <span data-lang="eng">Surname</span>
                <span data-lang="arabic">لقب</span>
              </td>
              <td><span class="playback-cell" data-playback="OmanSurname"></span></td>
            </tr>
            <tr class="hide-by-default show-if-oman">
              <td>
                <span data-lang="eng">Family Name</span>
                <span data-lang="arabic">Family Name</span>
              </td>
              <td><span class="playback-cell" data-playback="OmanFamilyName"></span></td>
            </tr>
            <tr class="hide-by-default show-if-oman">
              <td>
                <span data-lang="eng">Given Name</span>
                <span data-lang="arabic">Given Name</span>
              </td>
              <td><span class="playback-cell" data-playback="OmanGivenNames"></span></td>
            </tr>
            <tr class="hide-by-default show-if-qatar">
              <td>
                <span data-lang="eng">Name</span>
                <span data-lang="arabic">Name</span>
              </td>
              <td><span class="playback-cell" data-playback="QatarNameOnPassport"></span></td>
            </tr>
            <tr class="hide-by-default show-if-kuwait">
              <td>
                <span data-lang="eng">Name</span>
                <span data-lang="arabic">Name</span>
              </td>
              <td><span class="playback-cell" data-playback="KuwaitNameOnPassport"></span></td>
            </tr>
            <tr>
              <td>
                <span data-lang="eng">Country of issue</span>
                <span data-lang="arabic">بلد الإصدار</span>
              </td>
              <td><span class="playback-cell" data-playback="CountryOfIssue"></span></td>
            </tr>
            <tr>
             <td>
               <span data-lang="eng">Date of birth</span>
               <span data-lang="arabic">تاريخ الميلاد</span>
              </td>
             <td><span class="playback-cell" data-playback="dobDay"></span>/<span class="playback-cell" data-playback="dobMonth"></span>/<span class="playback-cell" data-playback="dobYear"></span></td>
           </tr>
          </tbody>
          <tbody class="playback-container" name="journey-details">
            <tr>
             <td>
               <span data-lang="eng">Which airport will you arrive at?</span>
               <span data-lang="arabic">Which airport will you arrive at?</span>
              </td>
             <td><span class="playback-cell" data-playback="ArrivalLocation"></span></td>
            </tr>
            <tr>
             <td>
               <span data-lang="">Date of arrival</span>
              </td>
             <td><span class="playback-cell" data-playback="DateOfArrivalDay"></span> <span class="playback-cell" data-playback="DateOfArrivalMonth"></span> <span class="playback-cell" data-playback="DateOfArrivalYear"></span></td>
            </tr>
            <tr>
             <td>
               <span data-lang="eng!">Time of arrival</span>
              </td>
             <td><span class="playback-cell" data-playback="arrTimeHour"></span>:<span class="playback-cell" data-playback="arrTimeMins"></span></td>
            </tr>
          </tbody>
        </table>

        <div class="panel-indent">
          If these details are incorrect please call UK Visas and Immigration on +44 (0) 20 7484 8759
        </div>

  </article>
</main>
{{/content}}

{{/layout}}
