{{<layout}}

{{$pageTitle}}Declaration and consent{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <article role="article" class="hide-if-offline">
    <div class="panel-success ihs-complete" data-lang="eng">
      <h2 class="bold-large hide-if-anz append-id">✔ Your electronic visa waiver reference is EVW79062</h2>
    </div>
    <div class="panel-success ihs-complete" data-lang="arabic">
      <h2 class="bold-large hide-if-anz append-id">✔ رقم مرجع التأشيرة الإلكترونية الخاص بك هو EVW79062</h2>
    </div>
        <hr>
        <br>
        <p data-lang="eng">Next steps</p>
        <p data-lang="arabic">الخطوة التالية</p>
        <ul class="list-bullet" data-lang="eng">
          <li>Your application will now be processed. You will receive your EVW at the email address you have provided.</li>
          <li>When you have your EVW, you will need to print it and take it with you when you travel to the UK. You will need your printed EVW with you when you board your plane, train or boat, and again when you arrive in the UK.</li>
          <li>If you need to change the details in your EVW, for example to change your date of arrival in the UK, call UK Visas and Immigration on +44 (0) 20 7484 8759</li>
        </ul>

        <ul class="list-bullet" data-lang="arabic">
          <li>سيتم معالجة طلبك. ستستلم التأشيرة الإلكترونية في البريد الإلكتروني الذي وفرته.</li>
          <li>عندما تستلم التأشيرة الإلكترونية، يجب عليك أن تطبعها وتأخذها معك عندما تسافر للمملكة المتحدة. وستحتاج النسخة مطبوعة عند ركوب الطائرة أو القطار أو السفينة وعند وصولك في المملكة المتحدة.</li>
          <li>إذا احتجت لتغيير أي معلومات في التأشيرة الإلكترونية، مثل تاريخ الوصول للمملكة المتحدة، فاتصل بالهجرة البريطانية على رقم 8759 7484 20 (0) 44+</li>
        </ul>

        <hr>

        <h2 class="heading-medium">Your details</h2>

        <table  dir="ltr">
          <thead>
            <tr>
              <th scope="col" width="60%">
                <span data-lang="eng">Your passport details</span>
                <span data-lang="arabic">تفاصيل جواز سفرك</span>
              </th>
              <th scope="col" width="40%" class="numeric"></th>
            </tr>
          </thead>
          <tbody class="playback-container" name="passport-details">
            <tr>
              <td>
                <span data-lang="eng">Passport number</span>
                <span data-lang="arabic">رقم جواز السفر	</span>
              </td>
              <td><span class="playback-cell" data-playback="PassportNumber"></span></td>
            </tr>
            <tr class="hide-by-default show-if-uae">
              <td>
                <span data-lang="eng">First Names</span>
                <span data-lang="arabic">الأسماء الأولى</span>
              </td>
              <td><span class="playback-cell" data-playback="UAEFirstNames"></span></td>
            </tr>
            <tr class="hide-by-default show-if-uae">
              <td>
                <span data-lang="eng">Surname</span>
                <span data-lang="arabic">لقب</span>
              </td>
              <td><span class="playback-cell" data-playback="UAESurnames"></span></td>
            </tr>
            <tr class="hide-by-default show-if-oman">
              <td>
                <span data-lang="eng">Surname</span>
                <span data-lang="arabic">لقب</span>
              </td>
              <td><span class="playback-cell" data-playback="OmanSurname"></span></td>
            </tr>
            <tr class="hide-by-default show-if-oman">
              <td>
                <span data-lang="eng">Family Name</span>
                <span data-lang="arabic">Family Name</span>
              </td>
              <td><span class="playback-cell" data-playback="OmanFamilyName"></span></td>
            </tr>
            <tr class="hide-by-default show-if-oman">
              <td>
                <span data-lang="eng">Given Name</span>
                <span data-lang="arabic">Given Name</span>
              </td>
              <td><span class="playback-cell" data-playback="OmanGivenNames"></span></td>
            </tr>
            <tr class="hide-by-default show-if-qatar">
              <td>
                <span data-lang="eng">Name</span>
                <span data-lang="arabic">اسمك</span>
              </td>
              <td><span class="playback-cell" data-playback="QatarNameOnPassport"></span></td>
            </tr>
            <tr class="hide-by-default show-if-kuwait">
              <td>
                <span data-lang="eng">Name</span>
                <span data-lang="arabic">اسمك</span>
              </td>
              <td><span class="playback-cell" data-playback="KuwaitNameOnPassport"></span></td>
            </tr>
            <tr>
              <td>
                <span data-lang="eng">Country of issue</span>
                <span data-lang="arabic">بلد الإصدار</span>
              </td>
              <td><span class="playback-cell" data-playback="CountryOfIssue"></span></td>
            </tr>
            <tr>
             <td>
               <span data-lang="eng">Date of birth</span>
               <span data-lang="arabic">تاريخ الميلاد</span>
              </td>
             <td><span class="playback-cell" data-playback="dobDay"></span>/<span class="playback-cell" data-playback="dobMonth"></span>/<span class="playback-cell" data-playback="dobYear"></span></td>
           </tr>
          </tbody>
          <tbody class="playback-container" name="journey-details">
            <tr>
             <td>
               <span data-lang="eng">Which airport will you arrive at?</span>
               <span data-lang="arabic">Which airport will you arrive at?</span>
              </td>
             <td><span class="playback-cell" data-playback="ArrivalLocation"></span></td>
            </tr>
            <tr>
             <td>
               <span data-lang="">Date of arrival</span>
              </td>
             <td><span class="playback-cell" data-playback="DateOfArrivalDay"></span> <span class="playback-cell" data-playback="DateOfArrivalMonth"></span> <span class="playback-cell" data-playback="DateOfArrivalYear"></span></td>
            </tr>
            <tr>
             <td>
               <span data-lang="eng!">Time of arrival</span>
              </td>
             <td><span class="playback-cell" data-playback="arrTimeHour"></span>:<span class="playback-cell" data-playback="arrTimeMins"></span></td>
            </tr>
          </tbody>
        </table>


  </article>
</main>
{{/content}}

{{/layout}}
