

	<script type="text/javascript">
			localStorage.setItem('passport-details','{"CountryOfIssue":"United Arab Emirates","uploadPassport":"Yes","PassportNumber":"00126499","doiDay":"25","doiMonth":"09","doiYear":"2012","doeDay":"24","doeMonth":"09","doeYear":"2017","PlaceOfIssue":"Dubai","UAEFirstNames":"Fahad Abdurahman Ahmad Yousef","Sex":"Male","dobDay":"28","dobMonth":"01","dobYear":"1968","PlaceOfBirth":"Dubai","PreviousNationalities":"no"}');
			localStorage.setItem('journey-details','{"DepartureMode":"Air","departureDay":"01","departureMonth":"09","departureYear":"2015","FlightNumber":"EK010","DateOfArrivalDay":"01","DateOfArrivalMonth":"09","DateOfArrivalYear":"2015","arrTimeHour":"01","arrTimeMins":"15","ReasonForVisit":"Holiday","TravelWithOthers":"No"}');
			localStorage.setItem('contact-details','{"HomeAddress1":"1 Sheikh Mohammed bin Rashid Blvd","HomeAddress5":"","HomeAddress4":"","HomeAddress2":"Dubai","HomeAddress3":"United Arab Emirates","PhoneNumber":"00441614914914","Email":"email@gmail.com","Occupation":"Employee","CompanyName":"Government Agency"}');
			localStorage.setItem('visit','{"UKaddress1":"The Dorchester Hotel","UKaddress2":"London","UKaddress3":"SW1","LeavingDateDay":"14","LeavingDateMonth":"09","LeavingDateYear":"2015","FlightNumber":"EK008"}');
			window.location.replace("review-answers");
  </script>
