{{<layout}}

{{$pageTitle}}
	Start page | Electronic Visa Waiver
{{/pageTitle}}

{{$content}}

<main id="content" role="main">


	<h1 class="heading-xlarge">Electronic Visa Waiver</h1>

	<p>You may be entitled to complete an Electronic Visa Waiver to enter the UK.</p>

	<p>An Electronic Visa Waiver:</p>
 
	<ul class="list-bullet">
		<li>is valid for a single visit to the UK of up to six months</li>
		<li>can be completed up to 3 months before travelling to the UK</li>
		<li>must be completed a minimum of 48 hours before departure to the UK.</li>
	</ul>

	<h2 class="heading-medium">Before you start</h2>
	<p>You'll need:</p>
	<ul class="list-bullet">
		<li>Your passport</li>
		<li>Travel details for your journey to the UK</li>
	</ul>



	<p><a href="passport-details" class="button button-get-started" role="button">Start now</a></p>

	<!--
	<h1 class="heading-xlarge">Welcome to the GOV.UK prototyping kit</h1>

	<p>This is the index.html page - we recommend you put links to key pages here.</p>

	<h2 class="heading-large">Pages</h2>

	<ul>
		<li>
			<a href="/examples">Example pages</a>
		</li>
		<li>
			<a href="/sample">A sample blank page</a>
		</li>
	</ul>

	<h2 class="heading-large">Resources</h2>

	<ul class="list-bullet">
		<li>
			<a href="https://github.com/alphagov/govuk_prototype_kit/wiki">
				GOV.UK kit documentation
			</a>
		</li>
		<li>
			<a href="http://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK elements HTML
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul> 

	-->

</main>

{{/content}}

{{/layout}}
