{{<layout}}

{{$pageTitle}}
	Start page | Electronic Visa Waiver
{{/pageTitle}}

{{$content}}


<main id="content" role="main">
	{{>includes/banner}}


	<h1 class="heading-xlarge">Electronic visa waiver prototype</h1>
<!--
	<table>
		<thead>
			<tr>
				<th>Prototype name</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Dynamic name fields</td>
				<td><a href="start">En</a></td>
				<td><a href="start" class="arabicLink">Ar</a></td>
				<td><a href="start" class="mixedLink">Mixed</a></td>
				<td><a href="start" class="rightLink">Right-just</a></td>
			</tr>
			<tr>
				<td>Non-dynamic name fields</td>
				<td><a href="eng-no-dynamic">En</a></td>
				<td><a href="eng-no-dynamic" class="arabicLink">Ar</a></td>
				<td><a href="eng-no-dynamic" class="mixedLink">Mixed</a></td>
				<td><a href="eng-no-dynamic" class="rightLink">Right-just</a></td>
			</tr>
			<tr>
				<td>Travel details first, Dynamic name fields</td>
				<td><a href="eng-dynamic-travel-first">En</a></td>
				<td><a href="eng-dynamic-travel-first" class="arabicLink">Ar</a></td>
				<td><a href="eng-dynamic-travel-first" class="mixedLink">Mixed</a></td>
				<td><a href="eng-dynamic-travel-first" class="rightLink">Right-just</a></td>
			</tr>
			<tr>
				<td>Travel details first, Non-dynamic name fields</td>
				<td><a href="eng-no-dynamic-travel-first">En</a></td>
				<td><a href="eng-no-dynamic-travel-first" class="arabicLink">Ar</a></td>
				<td><a href="eng-no-dynamic-travel-first" class="mixedLink">Mixed</a></td>
				<td><a href="eng-no-dynamic-travel-first" class="rightLink">Right-just</a></td>
			</tr>
		</tbody>
	</table>
-->
	<p>
		<!--<button class="minimalData button secondary">Switch to minimal data</button>
		<br>
		<button class="travelFirst button secondary">Travel details first</button>
		<br>-->
		<button class="flightsApi button secondary">Flight data from API</button>
		<br>
		<!--<button class="uploadPage button secondary">Upload on page</button>
		<br>
		<button class="manualNames button secondary" disabled="disabled">Dynamic name fields</button>
		<br>-->
		<button class="arabicLink button secondary">All in Arabic</button>
		<br>
		<button class="mixedLink button secondary">Arabic and English</button>
		<br>
		<!--<button class="rightLink button secondary">Ar&amp;En right aligned</button>
		<br>
		<button class="multiple button secondary" disabled="disabled">Multiple EVW</button>
		<br>
		<button class="cwPassport button secondary">Passport upload for case work</button>
		<br>
		<button class="uploadPassport button secondary">Passport upload with OCR</button>
		<br>-->
		<button class="button clearStorage red">Clear Data</button>
		<br>
		<a class="button" href="start">GO!</a>
</p>
</main>

{{/content}}

{{/layout}}
