{{<layout}}

{{$pageTitle}}Passport details{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/banner}}
  <h1 class="heading-large" data-lang="eng">Your name</h1>
  <h1 class="heading-large" data-lang="arabic">تفاصيل جواز سفرك</h1>
  <div class="hide-if-upload">
    <p data-lang="eng">You must enter all your names exactly as they are shown in your passport.</p>
    <p data-lang="arabic">لملء بشكل صحيح في هذا القسم سوف تحتاج إلى التحقق من جواز السفر ونسخة كيف يظهر اسمك بالضبط في جواز سفرك .</p>
  </div>
  <p data-lang="eng" class="hide-by-default show-if-upload">We have tried to read the details from your passport. Please check these are correct.</p>
  <p>&nbsp;</p>

<form name="passport-details">
<div class="">
	<div id="QatarName" class="form-group hide-by-default optional-section-CountryOfIssue show-if-qatar" data-toggle-value="Qatar">
		<label class="form-label-bold label" for="QatarNameOnPassport">Name</label>
		<p class="form-hint" data-lang="eng">
      This is one long field.
    </p>
    <p data-lang="arabic">
      هذا هو حقل واحد طويل . إذا كان هذا لم يكتمل في جواز سفرك ترك هذا فارغا
    </p>
		<input type="text" name="QatarNameOnPassport" class="form-control">
	</div>
	<div id="KuwaitName" class="form-group hide-by-default optional-section-CountryOfIssue show-if-kuwait" data-toggle-value="Kuwait">
		<label class="form-label-bold label" for="KuwaitNameOnPassport">Name</label>
    <p class="form-hint" data-lang="eng">
      This is one long field.
    </p>
    <p data-lang="arabic">
      هذا هو حقل واحد طويل . إذا كان هذا لم يكتمل في جواز سفرك ترك هذا فارغا
    </p>
		<input type="text" name="KuwaitNameOnPassport" class="form-control">
	</div>

	<div id="OmanName" class="hide-by-default optional-section-CountryOfIssue show-if-oman" data-toggle-value="Oman">
		<div class="form-group">
			<label class="form-label-bold label" for="OmanSurname">
        <span data-lang="eng">Surname</span>
        <span data-lang="arabic">لقب</span>
      </label>
      <p class="form-hint" data-lang="eng">If this not completed in your passport leave this blank.</p>
      <p class="form-hint" data-lang="arabic">إذا كان هذا لم يكتمل في جواز سفرك ترك هذا فارغا</p>
			<input type="text" name="OmanSurname" class="form-control">
		</div>
		<div class="form-group">
			<label class="form-label-bold label" for="OmanFamilyName">Family name</label>
      <p class="form-hint" data-lang="eng">If this not completed in your passport leave this blank.</p>
      <p class="form-hint" data-lang="arabic">إذا كان هذا لم يكتمل في جواز سفرك ترك هذا فارغا</p>
			<input type="text" name="OmanFamilyName" class="form-control">
		</div>
		<div class="form-group">
			<label class="form-label-bold label" for="OmanGivenNames">Given names</label>
      <p class="form-hint" data-lang="eng">If this not completed in your passport leave this blank.</p>
      <p class="form-hint" data-lang="arabic">إذا كان هذا لم يكتمل في جواز سفرك ترك هذا فارغا</p>
			<input type="text" name="OmanGivenNames" class="form-control">
		</div>
	</div>



	<div id="UAEName" class="hide-by-default optional-section-CountryOfIssue show-if-uae" data-toggle-value="United Arab Emirates">
		<div class="form-group hide-if-old-uae">
			<label class="form-label-bold label" for="UAESurnames">
        <span data-lang="eng">Family name</span>
        <span data-lang="arabic">لقب</span>
      </label>
			<p class="form-hint" data-lang="eng">If this not completed in your passport leave this blank.</p>
      <p class="form-hint" data-lang="arabic">أدخل اللقب الخاص بك تماما كما يظهر في جواز السفر</p>
      <p class="form-hint" data-lang="eng">Enter your name in English.</p>
      <p class="form-hint" data-lang="arabic">أدخل اسمك في اللغة الإنجليزية</p>
			<input type="text" name="UAESurnames" class="form-control">
		</div>
		<div class="form-group">
			<label class="form-label-bold label" for="UAEFirstNames">
        <span data-lang="eng">Names as on passport</span>
        <span data-lang="arabic">الأسماء الأولى</span>
      </label>
      <p class="form-hint" data-lang="eng">
        This is one long field.
      </p>
      <p data-lang="arabic">
        هذا هو حقل واحد طويل . إذا كان هذا لم يكتمل في جواز سفرك ترك هذا فارغا
      </p>
      <p class="form-hint" data-lang="eng">Enter your name in English.</p>
      <p class="form-hint" data-lang="arabic">أدخل اسمك في اللغة الإنجليزية</p>
			<input type="text" name="UAEFirstNames" class="form-control">
		</div>
	</div>
  <p>&nbsp;</p>

</div>
<!--<div class="hide-by-default show-if-no-scan">
  <div class="form-group hide-if-old-uae">
    <label class="form-label-bold label" for="NOSCANSurnames">
      <span data-lang="eng">Family name</span>
      <span data-lang="arabic">لقب</span>
    </label>
    <p class="form-hint" data-lang="eng">If this not completed in your passport leave this blank.</p>
    <p class="form-hint" data-lang="arabic">أدخل اللقب الخاص بك تماما كما يظهر في جواز السفر</p>
    <p class="form-hint" data-lang="eng">Enter your name in English.</p>
    <p class="form-hint" data-lang="arabic">أدخل اسمك في اللغة الإنجليزية</p>
    <input type="text" name="NOSCANSurnames" class="form-control">
  </div>
  <div class="form-group">
    <label class="form-label-bold label" for="NOSCANFirstNames">
      <span data-lang="eng">Names as on passport</span>
      <span data-lang="arabic">الأسماء الأولى</span>
    </label>
    <p class="form-hint" data-lang="eng">
      This is one long field. If this not completed in your passport leave this blank.
    </p>
    <p data-lang="arabic">
      هذا هو حقل واحد طويل . إذا كان هذا لم يكتمل في جواز سفرك ترك هذا فارغا
    </p>
    <p class="form-hint" data-lang="eng">Enter your name in English.</p>
    <p class="form-hint" data-lang="arabic">أدخل اسمك في اللغة الإنجليزية</p>
    <input type="text" name="NOSCANFirstNames" class="form-control">
  </div>

</div>-->



    <a href="personal-details" class="button">
      <span data-lang="eng">Continue</span>
      <span data-lang="arabic">استمر</span>
    </a>

	<!-- <input type="submit" id="updateContinue" class="button js-hidden next" value="Continue" style="display: inline-block;"> -->

</form>

</main>
{{/content}}

{{/layout}}
