{{<layout}}

{{$pageTitle}}Passport details{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/banner}}
  <h1 class="heading-large" data-lang="eng">Your nationality</h1>
  <h1 class="heading-large" data-lang="arabic">الجنسية</h1>
  <p>&nbsp;</p>

<form name="passport-details">

	<fieldset class="inline hide-if-uae">

      <legend class="form-label-bold" data-lang="eng">Do you currently have any other nationalities?</legend>
      <legend class="form-label-bold" data-lang="arabic">هل تحمل جنسيات أخرى؟</legend>
	    <div class="form-group form-group-compound">

	      <label class="block-label" for="OtherNationalities-1">
	        <input id="OtherNationalities-1" name="OtherNationalities" value="Yes" type="radio" data-storage="yes">
          <span data-lang="eng">Yes</span>
          <span data-lang="arabic">نعم</span>
	      </label>

	      <label class="block-label" for="OtherNationalities-2">
	        <input id="OtherNationalities-2" name="OtherNationalities" value="No" type="radio" data-storage="no">
          <span data-lang="eng">No</span>
          <span data-lang="arabic">لا</span>
	      </label>

	    </div>

	    <div class="panel-indent hide-by-default show-if-OtherNationalities optional-section-OtherNationalities" data-toggle-value="Yes" id="conditionalOtherNationalities">
	    	<label class="form-label-bold label" for="EnterOtherNationalities">أدخل أي جنسية أخرى تحملها.</label>
        <p class="form-hint" data-lang="eng">For example, "Canadian, Italian"</p>
        <p class="form-hint" data-lang="arabic">في سبيل المثال :الكندية</p>
			<input type="text" name="EnterOtherNationalities" class="form-control">
	    </div>

  	</fieldset>


	<fieldset class="inline hide-if-minimal">

    <legend class="form-label-bold" data-lang="eng">Have you had any other nationalities in the past?</legend>
    <legend class="form-label-bold" data-lang="arabic">هل حملت جنسيات أخرى سابقا؟</legend>

	    <div class="form-group form-group-compound">

	      <label class="block-label" for="PreviousNationalities-1">
	        <input id="PreviousNationalities-1" name="PreviousNationalities" value="Yes" type="radio" data-storage="yes">
          <span data-lang="eng">Yes</span>
          <span data-lang="arabic">نعم</span>
	      </label>

	      <label class="block-label" for="PreviousNationalities-2">
	        <input id="PreviousNationalities-2" name="PreviousNationalities" value="No" type="radio" data-storage="no">
          <span data-lang="eng">No</span>
          <span data-lang="arabic">لا</span>
	      </label>

	    </div>

	    <div class="panel-indent js-hidden hide-by-default show-if-PreviousNationalities optional-section-PreviousNationalities" data-toggle-value="Yes" id="conditionalPreviousNationalities">
	    	<label class="form-label-bold label" for="EnterPreviousNationalities" data-lang="eng">Enter all the nationalities you had previously.</label>
        <label class="form-label-bold label" for="EnterPreviousNationalities" data-lang="arabic">أدخل كل الجنسيات التي حملتها سابقا.</label>
        <p class="form-hint" data-lang="eng">For example, "British"</p>
        <p class="form-hint" data-lang="arabic">في سبيل المثال : بريطانية</p>
			<input type="text" name="EnterPreviousNationalities" class="form-control">
	    </div>

  	</fieldset>


    <a href="your-journey" class="button hide-if-travel">
      <span data-lang="eng">Continue</span>
      <span data-lang="arabic">استمر</span>
    </a>
    <a href="your-visit" class="button hide-by-default show-if-travel">
      <span data-lang="eng">Continue</span>
      <span data-lang="arabic">استمر</span>
    </a>

	<!-- <input type="submit" id="updateContinue" class="button js-hidden next" value="Continue" style="display: inline-block;"> -->

</form>

</main>
{{/content}}

{{/layout}}
