{{<layout}}

{{$pageTitle}}Passport details{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/banner}}
  <h1 class="heading-large" data-lang="eng">Your passport details</h1>
  <h1 class="heading-large" data-lang="arabic">معلومات جواز السفر</h1>
  <div class="hide-if-upload">
    <p data-lang="eng">You must use your passport to complete this section. Your details need to match the information in your passport.</p>
    <p data-lang="arabic">يجب عليك أن تستعين بجواز سفرك لإتمام هذا القسم. يجب أن تتطابق المعلومات التي تدخلها مع المعلومات في جواز السفر.</p>
  </div>

  <p>&nbsp;</p>

<form name="passport-details">

	<div class="form-group">
		<label class="form-label-bold label" for="PassportNumber" data-lang="eng">Passport number</label>
    <label class="form-label-bold label" for="PassportNumber" data-lang="arabic">رقم جواز السفر</label>
		<input type="text" name="PassportNumber" class="form-control">
	</div>

<div class="hide-by-default show-if-dynamic">
  {{>includes/partials/country-of-issue}}
</div>

    <div class="form-group hide-if-minimal">
    	<fieldset>

        <legend class="form-label-bold date-field label" data-lang="eng">Passport issue date</legend>
        <legend class="form-label-bold date-field label" data-lang="arabic">تاريخ الإصدار</legend>
        <span class="visuallyhidden">expected format is DD/MM/YYY</span>

	    <div class="form-date" id="dateOfIssue">
	        <p class="form-hint" data-lang="eng">For example, 30 9 2010</p>
          <p class="form-hint" data-lang="arabic">مثال: 30 9 2010</span>

	        <div class="form-group form-group-day">
	            <label for="doiDay"><span data-lang="eng">Day</span><span data-lang="arabic">اليوم</span>  </label>
	            <input type="text" class="form-control" id="doiDay" name="doiDay" aria-required="true" value="" maxlength="2">
	        </div>
	        <div class="form-group form-group-month">
	            <label for="doiMonth"><span data-lang="eng">Month</span><span data-lang="arabic">الشهر</span> </label>
	            <input type="text" class="form-control" id="doiMonth" name="doiMonth" aria-required="true" value="" maxlength="2">
	        </div>
	        <div class="form-group form-group-year">
	            <label for="doiYear"><span data-lang="eng">Year</span><span data-lang="arabic">السنة</span> </label>
	            <input type="text" class="form-control" id="doiYear" name="doiYear" aria-required="true" value="" maxlength="4">
	        </div>
	    </div>

    	</fieldset>
    </div>

    <div class="form-group">
		<fieldset>

          <legend class="form-label-bold date-field label" data-lang="eng">Passport expiry date</legend>
          <legend class="form-label-bold date-field label" data-lang="arabic">تاريخ الإنتهاء</legend>

		    <div class="form-date" id="dateOfExpiry">
		        <p class="form-hint" data-lang="eng">For example, 25 3 2017</p>
            <p class="form-hint" data-lang="arabic">مثال: 25 3 2017</p>

		        <div class="form-group form-group-day">
		            <label for="doeDay"><span data-lang="eng">Day</span><span data-lang="arabic">اليوم</span></label>
		            <input type="text" class="form-control" id="doeDay" name="doeDay" aria-required="true" value="" maxlength="2">
		        </div>
		        <div class="form-group form-group-month">
		            <label for="doeMonth"><span data-lang="eng">Month</span><span data-lang="arabic">الشهر</span></label>
		            <input type="text" class="form-control" id="doeMonth" name="doeMonth" aria-required="true" value="" maxlength="2">
		        </div>
		        <div class="form-group form-group-year">
		            <label for="doeYear"><span data-lang="eng">Year</span><span data-lang="arabic">السنة</span></label>
		            <input type="text" class="form-control" id="doeYear" name="doeYear" aria-required="true" value="" maxlength="4">
		        </div>
		    </div>

	    </fieldset>
    </div>

    	<div class="form-group">
    		<label class="form-label-bold label" for="PassportNumber" data-lang="eng">Place of issue</label>
        <label class="form-label-bold label" for="PassportNumber" data-lang="arabic">مكان الإصدار</label>
        <p class="form-hint" data-lang="eng">This will be a town, city or province.  </p>
        <p class="form-hint" data-lang="arabic">هذا سيكون المدينة أو البلدة أو المحافظة</p>
    		<input type="text" name="PlaceOfIssue" class="form-control">
    	</div>


<div class="hide-if-uploadpage">
      <legend class="form-label-bold" data-lang="eng">Help us to check this is correct</legend>
      <legend class="form-label-bold" data-lang="arabic">تريد أن تشمل صورة جواز السفر؟</legend>
  <p data-lang="eng">If you have a photo or scan of your passport you can send it with your application. We can then check your details and process your application more quickly.</p>
  <p data-lang="arabic">إذا كان لديك صورة من جواز السفر الخاص بك، يمكنك إرسالها مع طلبك حتى نتمكن من التحقق تم إدخال كل شيء بشكل صحيح .</p>

  <fieldset class="inline">

   <div class="form-group form-group-compound">

     <label class="block-label" for="uploadPassport-1">
       <input id="uploadPassport-1" name="uploadPassport" value="Yes" type="radio" data-storage="Yes">
       <span data-lang="eng">Yes</span>
       <span data-lang="arabic">نعم</span>
     </label>
     <label class="block-label" for="uploadPassport-2">
       <input id="uploadPassport-2" name="uploadPassport" value="No" type="radio" data-storage="No">
       <span data-lang="eng">No</span>
       <span data-lang="arabic">لا</span>
     </label>

   </div>

 </fieldset>

  	<div class="form-group panel-indent hide-by-default optional-section-uploadPassport" data-toggle-value="Yes">
      <label class="form-label-bold label" for="passportFile" data-lang="eng2">Upload a passport picture</label>
      <!--<label class="form-label-bold label" for="OtherTravellers" data-lang="arabic2">يرجى إعطاء أسماء آلاخرين الذين يسافرون معك</label>-->
  		<input name="passportFile" class="form-control" type="file">
      <!--<p data-lang="eng">An EVW needs to be completed for each of these passengers.</p>
      <p data-lang="arabic">يحتاج إلى الإعفاء من تأشيرة الدخول الإلكترونية إلى أن تكتمل لكل من هؤلاء الركاب .</p>-->
  	</div>

</div>



        <a href="name" class="button hide-if-uploadpage">
          <span data-lang="eng">Continue</span>
          <span data-lang="arabic">استمر</span>
        </a>


            <a href="uploadpage" class="button hide-by-default show-if-uploadpage">
              <span data-lang="eng">Continue</span>
              <span data-lang="arabic">استمر</span>
            </a>

	<!-- <input type="submit" id="updateContinue" class="button js-hidden next" value="Continue" style="display: inline-block;"> -->

</form>

</main>
{{/content}}

{{/layout}}
