{{<layout}}

{{$pageTitle}}Passport details{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/banner}}
  <div class="grid-row">
    <div class="column-half">
      <h1 class="heading-large" data-lang="">Your passport details</h1>
    </div>
    <div class="column-half" dir="rtl">
      <h1 class="heading-large" data-lang="">تفاصيل جواز سفرك</h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-half">
      <p data-lang="eng">You must copy these details from your passport. They need to match the information in your passport exactly.</p>
    </div>
    <div class="column-half" dir="rtl">
      <p data-lang="">يجب نسخ هذه التفاصيل من جواز سفرك . التي يحتاجونها ل تتطابق تماما مع المعلومات في جواز سفرك .</p>
    </div>
  </div>

<form name="passport-details">

	<div class="form-group">

      <div class="grid-row">
        <div class="column-half">
          <label class="form-label-bold label" for="PassportNumber" data-lang="">Passport number</label>
          <p class="form-hint" data-lang="">This is the number of the passport you will use when travelling to the UK. </p>
        </div>
        <div class="column-half" dir="rtl">
          <label class="form-label-bold label" for="PassportNumber" data-lang="">رقم جواز السفر</label>
          <p class="form-hint" data-lang="">أعطي رقم جواز السفر الذي ستستخدمه عند السفر إلى المملكة المتحدة</p>
        </div>
      </div>

		<p align="center"><input type="text" name="PassportNumber" class="form-control"></p>
	</div>

    <div class="grid-row">
      <div class="column-half">
      </div>
      <div class="column-half" dir="rtl">
      </div>
    </div>

    <div class="grid-row">
      <div class="column-half">
        <legend class="form-label-bold date-field label" data-lang="">Your passport issue date</legend>
        <p class="form-hint" data-lang="">For example, 30 9 2010</p>
      </div>
      <div class="column-half" dir="rtl">
        <legend class="form-label-bold date-field label" data-lang="">تاريخ الإصدار</legend>
        <p class="form-hint" data-lang="">:علي سبيل المثال</p>
      </div>
    </div>

    <div class="form-group hide-if-minimal">
    	<fieldset>



        <span class="visuallyhidden">expected format is DD/MM/YYY</span>

	    <div class="form-date" id="dateOfIssue">



	        <div class="form-group form-group-day">
	            <label for="doiDay"><span data-lang="eng">Day</span><span data-lang="arabic">اليوم</span>  </label>
	            <input type="text" class="form-control" id="doiDay" name="doiDay" aria-required="true" value="" maxlength="2">
	        </div>
	        <div class="form-group form-group-month">
	            <label for="doiMonth"><span data-lang="eng">Month</span><span data-lang="arabic">الشهر</span> </label>
	            <input type="text" class="form-control" id="doiMonth" name="doiMonth" aria-required="true" value="" maxlength="2">
	        </div>
	        <div class="form-group form-group-year">
	            <label for="doiYear"><span data-lang="eng">Year</span><span data-lang="arabic">السنة</span> </label>
	            <input type="text" class="form-control" id="doiYear" name="doiYear" aria-required="true" value="" maxlength="4">
	        </div>
	    </div>

    	</fieldset>
    </div>

    <div class="form-group">
		<fieldset>

          <legend class="form-label-bold date-field label" data-lang="eng">Your passport expiry date</legend>
          <legend class="form-label-bold date-field label" data-lang="arabic">تاريخ الانتهاء</legend>

		    <div class="form-date" id="dateOfExpiry">
		        <p class="form-hint" data-lang="eng">For example, 25 3 2017</p>
            <p class="form-hint" data-lang="arabic">:علي سبيل المثال</p>

		        <div class="form-group form-group-day">
		            <label for="doeDay"><span data-lang="eng">Day</span><span data-lang="arabic">اليوم</span></label>
		            <input type="text" class="form-control" id="doeDay" name="doeDay" aria-required="true" value="" maxlength="2">
		        </div>
		        <div class="form-group form-group-month">
		            <label for="doeMonth"><span data-lang="eng">Month</span><span data-lang="arabic">الشهر</span></label>
		            <input type="text" class="form-control" id="doeMonth" name="doeMonth" aria-required="true" value="" maxlength="2">
		        </div>
		        <div class="form-group form-group-year">
		            <label for="doeYear"><span data-lang="eng">Year</span><span data-lang="arabic">السنة</span></label>
		            <input type="text" class="form-control" id="doeYear" name="doeYear" aria-required="true" value="" maxlength="4">
		        </div>
		    </div>

	    </fieldset>
    </div>

    	<div class="form-group">
    		<label class="form-label-bold label" for="PassportNumber" data-lang="eng">Place of issue</label>
        <label class="form-label-bold label" for="PassportNumber" data-lang="arabic">رقم جواز السفر</label>
        <p class="form-hint" data-lang="eng">This is the name of the place of issue in your passport.  </p>
        <p class="form-hint" data-lang="arabic">أعطي رقم جواز السفر الذي ستستخدمه عند السفر إلى المملكة المتحدة</p>
    		<input type="text" name="PlaceOfIssue" class="form-control">
    	</div>


<div class="hide-if-uploadpage">
      <legend class="form-label-bold" data-lang="eng">Help us to check this is correct</legend>
      <legend class="form-label-bold" data-lang="arabic">تريد أن تشمل صورة جواز السفر؟</legend>
  <p data-lang="eng">If you have a photo or scan of your passport you can send it with your application. We can then check your details and process your application more quickly.</p>
  <p data-lang="arabic">إذا كان لديك صورة من جواز السفر الخاص بك، يمكنك إرسالها مع طلبك حتى نتمكن من التحقق تم إدخال كل شيء بشكل صحيح .</p>

  <fieldset class="inline">

   <div class="form-group form-group-compound">

     <label class="block-label" for="uploadPassport-1">
       <input id="uploadPassport-1" name="uploadPassport" value="Yes" type="radio" data-storage="Yes">
       <span data-lang="eng">Yes</span>
       <span data-lang="arabic">نعم</span>
     </label>
     <label class="block-label" for="uploadPassport-2">
       <input id="uploadPassport-2" name="uploadPassport" value="No" type="radio" data-storage="No">
       <span data-lang="eng">No</span>
       <span data-lang="arabic">لا</span>
     </label>

   </div>

 </fieldset>

  	<div class="form-group panel-indent hide-by-default optional-section-uploadPassport" data-toggle-value="Yes">
      <label class="form-label-bold label" for="passportFile" data-lang="eng2">Upload a passport picture</label>
      <!--<label class="form-label-bold label" for="OtherTravellers" data-lang="arabic2">يرجى إعطاء أسماء آلاخرين الذين يسافرون معك</label>-->
  		<input name="passportFile" class="form-control" type="file">
      <!--<p data-lang="eng">An EVW needs to be completed for each of these passengers.</p>
      <p data-lang="arabic">يحتاج إلى الإعفاء من تأشيرة الدخول الإلكترونية إلى أن تكتمل لكل من هؤلاء الركاب .</p>-->
  	</div>

</div>



        <a href="name" class="button hide-if-uploadpage">
          <span data-lang="eng">Continue</span>
          <span data-lang="arabic">استمر</span>
        </a>


            <a href="uploadpage" class="button hide-by-default show-if-uploadpage">
              <span data-lang="eng">Continue</span>
              <span data-lang="arabic">استمر</span>
            </a>

	<!-- <input type="submit" id="updateContinue" class="button js-hidden next" value="Continue" style="display: inline-block;"> -->

</form>

</main>
{{/content}}

{{/layout}}
