{{<layout}}

{{$pageTitle}}Passport details{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/banner}}
  <h1 class="heading-large" data-lang="eng">Your passport details</h1>
  <h1 class="heading-large" data-lang="arabic">تفاصيل جواز سفرك</h1>
  <p data-lang="eng">You will need to copy these details from your passport.</p>
  <p data-lang="arabic">سوف تحتاج إلى نسخ هذه التفاصيل من جواز سفرك.</p>
  <p>&nbsp;</p>

<form name="passport-details">

  {{>includes/partials/country-of-issue}}

  <div class="form-group">

    <legend class="form-label-bold" data-lang="eng">Do you have a photo or scan of your passport?</legend>
    <legend class="form-label-bold" data-lang="arabic">Do you have a photo or scan of your passport?</legend>

    <p>If you have a photograph or scan of your passport, we can read your name from it. </p>

    <label class="block-label" for="scan-1">
      <input id="scan-1" name="passportScan" value="yes" type="radio" data-storage="scan">
      <span data-lang="eng">Yes, I have a scan or photo of my passport</span>
      <span data-lang="arabic">Yes, I have a scan or photo of my passport</span>
    </label>

    <label class="block-label" for="scan-2">
      <input id="scan-2" name="passportScan" value="no" type="radio" data-storage="noscan">
      <span data-lang="eng">No, I will enter my details</span>
      <span data-lang="arabic">No, I will enter my details</span>
    </label>

  </div>


  <a href="upload" class="button">
    <span data-lang="eng">Continue</span>
    <span data-lang="arabic">استمر</span>
  </a>


	<!-- <input type="submit" id="updateContinue" class="button js-hidden next" value="Continue" style="display: inline-block;"> -->

</form>

</main>
{{/content}}

{{/layout}}
