{{<layout}}

{{$pageTitle}}Check your answers{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/banner}}
  <h1 class="heading-large">Check your answers</h1>
  <p>Please check that your responses, including your name, exactly matches the details on your passport. If your details do not match those on the passport, you may not be able to travel.</p>

<!-- Add in name! -->

  <table class="playback-container" name="passport-details">
    <thead>
      <tr>
        <th scope="col" width="60%">Your passport details</th>
        <th scope="col" width="40%" class="numeric"><a href="passport-details">Edit</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Passport number</td>
        <td><span class="playback-cell" data-playback="PassportNumber"></span></td>
      </tr>
      <tr>
        <td>Country of issue</td>
        <td><span class="playback-cell" data-playback="CountryOfIssue"></span></td>
      </tr>
      <tr>
       <td>Sex</td>
       <td><span class="playback-cell" data-playback="Sex"></span></td>
      </tr>
      <tr>
       <td>Date of birth</td>
       <td><span class="playback-cell" data-playback="dobDay"></span>/<span class="playback-cell" data-playback="dobMonth"></span>/<span class="playback-cell" data-playback="dobYear"></span></td>
      </tr>
      <tr>
       <td>Place of birth</td>
       <td><span class="playback-cell" data-playback="PlaceOfBirth"></span></td>
      </tr>
      <tr>
       <td>Date of expiry</td>
       <td><span class="playback-cell" data-playback="doeDay"></span>/<span class="playback-cell" data-playback="doeMonth"></span>/<span class="playback-cell" data-playback="doeYear"></span></td>
      </tr>
      <tr>
       <td>Date of issue</td>
       <td><span class="playback-cell" data-playback="doiDay"></span>/<span class="playback-cell" data-playback="doiMonth"></span>/<span class="playback-cell" data-playback="doiYear"></span></td>
      </tr>
      <tr>
       <td>Other nationalities</td>
       <td>XXXXXXX</td>
      </tr>
      <tr>
       <td>Previous nationalities</td>
       <td>XXXXXXX</td>
      </tr>

    </tbody>
  </table>

  <p>&nbsp;</p>

  <table class="playback-container" name="journey-details">
    <thead>
      <tr>
        <th scope="col" width="60%">Your journey to the UK</th>
        <th scope="col" width="40%" class="numeric"><a href="your-journey">Edit</a></th>
      </tr>
    </thead>
    <tbody>
    	<tr>
       <td>Which country are you travelling to the UK from?</td>
       <td><span class="playback-cell" data-playback="">XXXX</span></td>
      </tr>
      <tr>
       <td>How will you be travelling to the UK?</td>
       <td><span class="playback-cell" data-playback="DepartureMode"></span></td>
      </tr>
      <tr>
       <td>Which airport are you flying to the UK from?</td>
       <td>XXXX</td>
      </tr>
      <tr>
       <td>Flight number</td>
       <td><span class="playback-cell" data-playback="FlightNumber"></span></td>
      </tr>
      <tr>
       <td>Departure date</td>
       <td><span class="playback-cell" data-playback="departureDay"></span>/<span class="playback-cell" data-playback="departureMonth"></span>/<span class="playback-cell" data-playback="departureYear"></span></td>
      </tr>
      <tr>
       <td>Departure time</td>
       <td>11:30</td>
      </tr>
      <tr>
       <td>Which airport will you arrive at?</td>
       <td>London Heathrow</td>
      </tr>
      <tr>
       <td>Arrival date</td>
       <td>14 05 2015</td>
      </tr>
      <tr>
       <td>Arrival time</td>
       <td>19:15</td>
      </tr>
      <tr>
       <td>Are you travelling to the UK with anyone else?</td>
       <td>No</td>
      </tr>
      <tr>
       <td>Please give the names of others travelling with you</td>
       <td></td>
      </tr>
      <tr>
       <td>What is the reason for your visit to the UK?</td>
       <td>Business</td>
      </tr>
      <tr>
       <td>Do you plan to travel to the UK again within three months of this visit?</td>
       <td>No</td>
      </tr>
    </tbody>
  </table>

  <p>&nbsp;</p>

  <table>
    <thead>
      <tr>
        <th scope="col" width="60%">Your visit to the UK</th>
        <th scope="col" width="40%" class="numeric"><a href="your-visit">Edit</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
       <td>Where will you stay in the UK?</td>
       <td>The Dorchester<br />
       	Park Lane<br />
       	London <br />
		W1K 1QA</td>
      </tr>
      <tr>
       <td>On which date will you be leaving the UK</td>
       <td>21 05 2015</td>
      </tr>
      <tr>
       <td>Which airport will you leave the UK from?</td>
       <td>London Gatwick</td>
      </tr>
      <tr>
       <td>Flight number</td>
       <td>AA6419</td>
      </tr>

    </tbody>
  	</table>

  <p>&nbsp;</p>

  <table>
    <thead>
      <tr>
        <th scope="col" width="60%">Your personal details</th>
        <th scope="col" width="40%" class="numeric"><a href="contact-details">Edit</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
       <td>Home address</td>
       <td>Arabian Gulf Street<br />
       	Dasman<br />
		Kuwait City<br />
		Kuwait</td>
      </tr>
      <tr>
       <td>Phone number</td>
       <td>+965 2259 4320</td>
      </tr>
      <tr>
       <td>Email address</td>
       <td>name@domain.com</td>
      </tr>
      <tr>
       <td>Your occupation</td>
       <td>Financial advisor</td>
      </tr>
      <tr>
       <td>Company name</td>
       <td>Industrial Bank of Kuwait</td>
      </tr>
    </tbody>
  	</table>

	<form>

	</form>

	<p>&nbsp;</p>
	<p><a href="declaration" class="button">Continue</a></p>

</main>
{{/content}}

{{/layout}}
