{{<layout}}

{{$pageTitle}}Check your answers{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/banner}}
  <h1 class="heading-large">Check your answers</h1>
  <p>Please check that your responses, including your name, exactly matches the details on your passport. If your details do not match those on the passport, you may not be able to travel.</p>

<!-- Add in name! -->

  <table class="playback-container" name="passport-details">
    <thead>
      <tr>
        <th scope="col" width="60%">Your passport details</th>
        <th scope="col" width="40%" class="numeric"><a href="passport-details">Edit</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Passport number</td>
        <td><span class="playback-cell" data-playback="PassportNumber"></span></td>
      </tr>
      <tr class="hide-by-default show-if-uae">
        <td>First Names</td>
        <td><span class="playback-cell" data-playback="UAEFirstNames"></span></td>
      </tr>
      <tr class="hide-by-default show-if-uae">
        <td>Surname</td>
        <td><span class="playback-cell" data-playback="UAESurnames"></span></td>
      </tr>
      <tr class="hide-by-default show-if-oman">
        <td>Surname</td>
        <td><span class="playback-cell" data-playback="OmanSurname"></span></td>
      </tr>
      <tr class="hide-by-default show-if-oman">
        <td>Family Name</td>
        <td><span class="playback-cell" data-playback="OmanFamilyName"></span></td>
      </tr>
      <tr class="hide-by-default show-if-oman">
        <td>Given Name</td>
        <td><span class="playback-cell" data-playback="OmanGivenNames"></span></td>
      </tr>
      <tr class="hide-by-default show-if-qatar">
        <td>Name</td>
        <td><span class="playback-cell" data-playback="QatarNameOnPassport"></span></td>
      </tr>
      <tr class="hide-by-default show-if-kuwait">
        <td>Name</td>
        <td><span class="playback-cell" data-playback="KuwaitNameOnPassport"></span></td>
      </tr>
      <tr>
        <td>Country of issue</td>
        <td><span class="playback-cell" data-playback="CountryOfIssue"></span></td>
      </tr>
      <tr>
       <td>Sex</td>
       <td><span class="playback-cell" data-playback="Sex"></span></td>
      </tr>
      <tr>
       <td>Date of birth</td>
       <td><span class="playback-cell" data-playback="dobDay"></span>/<span class="playback-cell" data-playback="dobMonth"></span>/<span class="playback-cell" data-playback="dobYear"></span></td>
      </tr>
      <tr>
       <td>Place of birth</td>
       <td><span class="playback-cell" data-playback="PlaceOfBirth"></span></td>
      </tr>
      <tr>
       <td>Date of expiry</td>
       <td><span class="playback-cell" data-playback="doeDay"></span>/<span class="playback-cell" data-playback="doeMonth"></span>/<span class="playback-cell" data-playback="doeYear"></span></td>
      </tr>
      <tr>
       <td>Date of issue</td>
       <td><span class="playback-cell" data-playback="doiDay"></span>/<span class="playback-cell" data-playback="doiMonth"></span>/<span class="playback-cell" data-playback="doiYear"></span></td>
      </tr>
      <tr>
       <td>Other nationalities</td>
       <td><span class="playback-cell" data-playback="EnterOtherNationalities">None</span></td>
      </tr>
      <tr>
       <td>Previous nationalities</td>
       <td><span class="playback-cell" data-playback="EnterPreviousNationalities">None</span></td>
      </tr>
    </tbody>
  </table>

  <p>&nbsp;</p>

  <table class="playback-container" name="journey-details">
    <thead>
      <tr>
        <th scope="col" width="60%">Your journey to the UK</th>
        <th scope="col" width="40%" class="numeric"><a href="your-journey">Edit</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
       <td>How will you be travelling to the UK?</td>
       <td><span class="playback-cell" data-playback="DepartureMode"></span></td>
      </tr>
      <tr>
       <td>Which airport are you flying to the UK from?</td>
       <td><span class="playback-cell" data-playback="DepartureLocation"></span></td>
      </tr>
      <tr>
       <td>Flight number</td>
       <td><span class="playback-cell" data-playback="FlightNumber"></span></td>
      </tr>
      <tr>
       <td>Departure date</td>
       <td><span class="playback-cell" data-playback="departureDay"></span>/<span class="playback-cell" data-playback="departureMonth"></span>/<span class="playback-cell" data-playback="departureYear"></span></td>
      </tr>
      <tr>
       <td>Which airport will you arrive at?</td>
       <td><span class="playback-cell" data-playback="ArrivalLocation"></span></td>
      </tr>
      <tr>
       <td>Are you travelling to the UK with anyone else?</td>
       <td><span class="playback-cell" data-playback="TravelWithOthers"></span></td>
      </tr>
      <tr class="hide-by-default show-if-others">
       <td>Please give the names of others travelling with you</td>
       <td><span class="playback-cell" data-playback="OtherTravellers"></span></td>
      </tr>
      <tr>
       <td>What is the reason for your visit to the UK?</td>
       <td><span class="playback-cell" data-playback="ReasonForVisit"></span></td>
      </tr>
    </tbody>
  </table>

  <p>&nbsp;</p>

  <table class="playback-container" name="visit">
    <thead>
      <tr>
        <th scope="col" width="60%">Your visit to the UK</th>
        <th scope="col" width="40%" class="numeric"><a href="your-visit">Edit</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
       <td>Where will you stay in the UK?</td>
       <td>
         <span class="playback-cell" data-playback="UKaddress1"></span><br>
         <span class="playback-cell" data-playback="UKaddress2"></span><br>
         <span class="playback-cell" data-playback="UKaddress3"></span><br>
         <span class="playback-cell" data-playback="UKaddress4"></span><br>
         <span class="playback-cell" data-playback="UKaddress5"></span>
        </td>
      </tr>
      <tr>
       <td>On which date will you be leaving the UK</td>
       <td><span class="playback-cell" data-playback="LeavingDateDay"></span> <span class="playback-cell" data-playback="LeavingDateMonth"></span> <span class="playback-cell" data-playback="LeavingDateYear"></span> </td>
      </tr>
      <tr>
       <td>Which airport will you leave the UK from?</td>
       <td><span class="playback-cell" data-playback="DepartureAirport"></span></td>
      </tr>
      <tr>
       <td>Flight number</td>
       <td><span class="playback-cell" data-playback="FlightNumber"></span></td>
      </tr>

    </tbody>
  	</table>

  <p>&nbsp;</p>

  <table class="playback-container" name="contact-details">
    <thead>
      <tr>
        <th scope="col" width="60%">Your personal details</th>
        <th scope="col" width="40%" class="numeric"><a href="contact-details">Edit</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
       <td>Home address</td>
       <td>
         <span class="playback-cell" data-playback="HomeAddress1"></span><br>
         <span class="playback-cell" data-playback="HomeAddress2"></span><br>
         <span class="playback-cell" data-playback="HomeAddress3"></span><br>
         <span class="playback-cell" data-playback="HomeAddress4"></span><br>
         <span class="playback-cell" data-playback="HomeAddress5"></span>
       </td>
      </tr>
      <tr>
       <td>Phone number</td>
       <td><span class="playback-cell" data-playback="PhoneNumber"></span></td>
      </tr>
      <tr>
       <td>Email address</td>
       <td><span class="playback-cell" data-playback="Email"></span></td>
      </tr>
      <tr>
       <td>Your occupation</td>
       <td><span class="playback-cell" data-playback="Occupation"></span></td>
      </tr>
      <tr>
       <td>Company name</td>
       <td><span class="playback-cell" data-playback="CompanyName"></span></td>
      </tr>
    </tbody>
  	</table>

	<form>

	</form>

	<p>&nbsp;</p>
	<p><a href="declaration" class="button">Continue</a></p>

</main>
{{/content}}

{{/layout}}
