{{<layout}}

{{$pageTitle}}
	Start page | Electronic Visa Waiver
{{/pageTitle}}

{{$content}}


<main id="content" role="main">
	{{>includes/banner}}

	<div data-lang="eng">
		<h1 class="heading-xlarge">Electronic visa waiver</h1>

		<p>You don’t need a visa for a visit to the UK of up to 6 months if you hold a passport of one of the following countries:</p>
		<ul class="list-bullet">
			<li>Kuwait</li>
			<li>Oman</li>
			<li>Qatar</li>
			<li>United Arab Emirates</li>
		</ul>
		<p>If you hold one of these passports, you can complete a simple online form to get permission to visit the UK. This is a free service known as an electronic visa waiver (EVW).</p>
		<p>You can use an EVW to visit the UK once, for up to 6 months. If you want to make multiple trips to the UK, you must complete an EVW for each visit.</p>
		<p> You can use an EVW to visit for:</p>
		<ul class="list-bullet">
			<li>tourism</li>
			<li>a business trip</li>
			<li>study</li>
		</ul>
		<p>You cannot use an EVW to:</p>
		<ul class="list-bullet">
			<li>work</li>
			<li>get married or enter into a civil partnership in the UK</li>
		</ul>
		<p>You must upload a scan of your passport in the online form. You don’t have to provide biometrics or visit a visa application centre</p>
		<p>To complete the form, you will need:</p>
		<ul class="list-bullet">
			<li>your current passport</li>
			<li>an address in the UK where you will be staying</li>
			<li>details of your journey to and from the UK (including departure and arrival dates and times)</li>
		</ul>
		<p>You must complete the online form at least 48 hours before your trip to the UK.</p>
		<p>If you are travelling in a group, each group member must get an EVW for the trip.</p>



		<div class="hide-if-travel">
			<p class="hide-by-default show-if-dynamic"><a href="passport-details" class="button button-get-started" role="button">Start now</a></p>
			<p class="hide-if-dynamic"><a href="passport-issue" class="button button-get-started" role="button">Start now</a></p>
		</div>

		<div class="hide-by-default show-if-travel">
			<p class=""><a href="your-journey" class="button button-get-started" role="button">Start now</a></p>
		</div>
	</div>



	<div data-lang="ar">
		<h1 class="heading-xlarge">التأشيرة الإلكترونية</h1>

		<p>لن تحتاج للحصول على تأشيرة ورقية لزيارة المملكة المتحدة لمدة أقصاها 6 شهور إذا كنت حائزا على جواز سفر من الدول التالية:</p>
		<ul class="list-bullet">
			<li>دولة الكويت</li>
			<li>سلطنة عُمان</li>
			<li>دولة قطر</li>
			<li>الإمارات العربية المتحدة</li>
		</ul>
		<p>إذا كنت حائزا على أي من جوزات الدول أعلاه، فيمكنك أن تكمل نموذجا بسيطا على الإنترنت للحصول على تأشيرة إلكترونية لزيارة المملكة المتحدة. هذه خدمة مجانية معروفة باسم "الإعفاء من التأشيرة الورقية".</p>
		<p>يمكنك أن تستخدم التأشيرة الإلكترونية لزيارة المملكة المتحدة لمدة أقصاها 6 شهور. إذا رغبت بإجراء عدة رحلات للمملكة المتحدة فعليك أن تكمل نموذج تأشيرة إلكترونية لكل زيارة.</p>
		<p> يمكنك أن تستخدم التأشيرة الإلكترونية لزيارة:</p>
		<ul class="list-bullet">
			<li>سياحية</li>
			<li>عمل</li>
			<li>دراسة</li>
		</ul>
		<p>لا يمكنك أن تستخدم التأشيرة الإلكترونية لغرض:</p>
		<ul class="list-bullet">
			<li>التوظف</li>
			<li>الزواج (الديني أو المدني)</li>
		</ul>
		<p>يجب عليك أن تحمل صورة عن جواز سفرك في نموذج طلب التأشيرة الإلكترونية. لن يطلب منك أن تعطي بصماتك أو زيارة مركز طلب التأشيرات.</p>
		<p>لإكمال النموذج يجب عليك أن توفر:</p>
		<ul class="list-bullet">
			<li>جواز سفرك الساري المفعول</li>
			<li>عنوان في المملكة المتحدة حيث ستسكن</li>
			<li>معلومات رحلاتك إلى المملكة المتحدة ومنها (بما فيه تواريخ وأوقات المغادرة والعودة)</li>
		</ul>
		<p>يجب أن تقدم الطلب قبل موعد السفر للمملكة المتحدة بمدة لا تقل عن 48 ساعة</p>
		<p>إذا كنت تسافر ضمن مجموعة، فعلى كل فرد بالمجموعة أن يقدم طلب تأشيرة إلكترونية لأجل السفر.</p>



		<div class="hide-if-travel">
			<p class="hide-if-dynamic"><a href="passport-issue" class="button button-get-started" role="button">بداية</a></p>
		</div>
	</div>




</main>
<!-- slack test -->
{{/content}}

{{/layout}}
