{{<layout}}

{{$pageTitle}}
	Start page | Electronic Visa Waiver
{{/pageTitle}}

{{$content}}


<main id="content" role="main">
	{{>includes/banner}}


	<h1 class="heading-xlarge">Electronic visa waiver</h1>

	<p>If you have a passport from Qatar, the United Arab Emirates or Oman you can travel to the UK using an electronic visa waiver.</p>
	<p>You can use an electronic visa waiver (EVW) to visit the UK for up to 6 months as a tourist, for a business trip or to study. There is no charge for an EVW.</p>
	<p class="bold-small">Important information</p>
	<p>Your EVW lets you travel to the UK and stay for up to 6 months. If you plan to visit the UK again you will need to complete a new form.</p>
	<p>You need to complete it at least 48 hours before you travel. But, if your travel details are final, you can complete it up to 3 months before you travel.</p>
	<p>If your travel times, dates or details change you will need to complete a new form.</p>
	<p>If you are traveling with family members, you need to fill in a form for each person.</p>

	<h2 class="heading-medium">Before you start</h2>
	<p>You'll need:</p>
	<ul class="list-bullet">
		<li>your passport and those of any family members travelling with you</li>
		<li>a photo or scan of your passport</li>
		<li>your final travel details to and from the UK</li>
		<li>the address in the UK where you will be staying</li>
	</ul>

	<div class="hide-if-travel">
		<p class="hide-by-default show-if-dynamic"><a href="passport-details" class="button button-get-started" role="button">Start now</a></p>
		<p class="hide-if-dynamic"><a href="passport-issue" class="button button-get-started" role="button">Start now</a></p>
	</div>

	<div class="hide-by-default show-if-travel">
		<p class=""><a href="your-journey" class="button button-get-started" role="button">Start now</a></p>
	</div>

</main>

{{/content}}

{{/layout}}
