{{<layout}}

{{$pageTitle}}
	Start page | Electronic Visa Waiver
{{/pageTitle}}

{{$content}}


<main id="content" role="main">
	{{>includes/banner}}


	<h1 class="heading-xlarge">Apply for an electronic visa waiver</h1>

	<p>If you have a passport from Qatar, the United Arab Emirates or Oman you can use this service to apply for an electronic visa waiver (EVW) to travel to the UK.</p>
	<p>You can make one visit to the UK for up to 6 months as a tourist, for a business trip or to study. There is no charge for an EVW.</p>
	<p class="bold-small">Important information</p>
	<p>You need to carefully complete an EVW application at least 48 hours before you travel to the UK.</p>
	<p>You need to make sure:</p>
	<ul>
		<li>the personal details you provide in your EVW application match those in your passport exactly</li>
		<li>you provide your final travel details</li>
	</ul>
	<p>You will need to apply for another EVW if: </p>
	<ul>
		<li>your travel times, dates or details change </li>
		<li>you plan to visit the UK again</li>
	</ul>
	<p>If you are travelling as part of a group, each group member will need to apply for an EVW. </p>
	<h2 class="heading-medium">Before you start</h2>
	<p>You'll need:</p>
	<ul class="list-bullet">
		<li>your passport</li>
		<li>a photo or scan of your passport</li>
		<li>your final travel details to and from the UK</li>
		<li>the address in the UK where you will be staying</li>
	</ul>

	<div class="hide-if-travel">
		<p class="hide-by-default show-if-dynamic"><a href="passport-details" class="button button-get-started" role="button">Start now</a></p>
		<p class="hide-if-dynamic"><a href="passport-issue" class="button button-get-started" role="button">Start now</a></p>
	</div>

	<div class="hide-by-default show-if-travel">
		<p class=""><a href="your-journey" class="button button-get-started" role="button">Start now</a></p>
	</div>

</main>
<!-- slack test -->
{{/content}}

{{/layout}}
