{{<layout}}

{{$pageTitle}}Your journey to the UK{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/banner}}
  <div class="form-group hide-by-default show-if-mode-Air">
    <h1 class="heading-large" data-lang="eng">Your flight details</h1>
    <h1 class="heading-large" data-lang="arabic">معلومات الرحلة</h1>
  </div>
  <div class="form-group hide-by-default show-if-mode-Sea">
    <h1 class="heading-large" data-lang="eng">Your boat details</h1>
    <h1 class="heading-large" data-lang="arabic">معلومات السفينة</h1>
  </div>
  <div class="form-group hide-by-default show-if-mode-Train">
    <h1 class="heading-large" data-lang="eng">Your train details</h1>
    <h1 class="heading-large" data-lang="arabic">معلومات القطار</h1>
  </div>

<form name="journey-details">


        <div class="form-group hide-by-default show-if-mode-Sea">
          <label class="form-label-bold label" for="FlightNumber" data-lang="eng">Your boat name</label>
          <label class="form-label-bold label" for="FlightNumber" data-lang="arabic">أدخل اسم السفينة التي ستصل على متنها</label>
          <p class="form-hint" data-lang="eng">For example, "Spirit of Britain"</p>
          <p class="form-hint" data-lang="arabic"> مثلا "Spirit of Britain" </p>
          <input type="text" name="FlightNumber" />

        </div>

          <div class="form-group hide-by-default show-if-mode-Train">
            <label class="form-label-bold label" for="FlightNumber" data-lang="eng">Your train number</label>
            <label class="form-label-bold label" for="FlightNumber" data-lang="arabic">رقم القطار</label>
            <p class="form-hint" data-lang="eng">For example, Eurostar 9140</p>
            <p class="form-hint" data-lang="arabic">مثال: Eurostar 9104</p>
            <input type="text" name="FlightNumber" />

          </div>


	<!-- We may be able to drop this question if we can infer it from the port of departure Q

	<div class="form-group">
		<label class="form-label-bold label" for="DepartureCountry">Which country will you be travelling to the UK from?</label>
		<p class="form-hint">This is the country you will leave to travel to the UK</p>
		<input type="text" name="DepartureCountry" />
	</div>

	-->


<!--
	<div class="form-group">

    <legend class="form-label-bold playback-container" name="passport-details" data-lang="11eng">Will you be flying direct from <span class="playback-cell" data-playback="CountryOfIssue"></span> to the UK?</legend>
    <!--<p class="form-hint" data-lang="eng">This is the journey you will make to arrive in the UK</p>
    <p class="form-hint" data-lang="arabic">هذه هي الرحلة التي سوف توصلك إلى المملكة المتحدة</p>
--><!--
		<label class="block-label" for="DepartureMode-1">
	    	<input id="DepartureMode-1" name="DepartureMode" value="Yes" type="radio" data-storage="Yes">
        <span data-lang="eng">Yes</span>
        <span data-lang="arabic">بالطائرة</span>
		</label>

		<label class="block-label" for="DepartureMode-2">
	    	<input id="DepartureMode-2" name="DepartureMode" value="No" type="radio" data-storage="No">
        <span data-lang="eng">No</span>
        <span data-lang="arabic">بالقطار</span>
	  	</label>

  	</div>
-->

	<!-- Departure details
		For flights, port of departure can be inferred from flight no


	<div class="form-group">
		<label class="form-label-bold label" for="DepartureAirport">Which airport are you flying to the UK from?</label>
		<input type="text" name="DepartureAirport" />
	</div>

	-->
<!--
    	<div class="form-group hide-if-minimal">
    		<label class="form-label-bold label" for="FlightNumber" data-lang="eng!">Departing from</label>
    		<input type="text" name="DepartureLocation" class="form-control">
    	</div>


      	<div class="form-group hide-if-minimal">
      		<label class="form-label-bold label" for="FlightNumber" data-lang="eng!">Arrival airport</label>
      		<input type="text" name="ArrivalLocation" class="form-control">
      	</div>
      -->
	<div class="form-group hide-by-default">
		<fieldset>
      <legend class="form-label-bold date-field label" data-lang="eng">What date will you be departing for the UK?</legend>
      <legend class="form-label-bold date-field label" data-lang="arabic">ما تاريخ المغادرة من المملكة المتحدة؟</legend>
		    <div class="form-date" id="departureDate">
          <p class="form-hint" data-lang="eng">For example, 18 9 2015</p>
          <p class="form-hint" data-lang="eng">مثال: 18 9 2015</p>

		        <div class="form-group form-group-day">
		            <label for="departureDay">
                  <span data-lang="eng">Day</span><span data-lang="arabic">اليوم</span>
                </label>
		            <input type="text" class="form-control" id="departureDay" name="departureDay" aria-required="true" value="" maxlength="2">
		        </div>
		        <div class="form-group form-group-month">
		            <label for="departureMonth">
                  <span data-lang="eng">Month</span><span data-lang="arabic">الشهر</span>
                </label>
		            <input type="text" class="form-control" id="departureMonth" name="departureMonth" aria-required="true" value="" maxlength="2">
		        </div>
		        <div class="form-group form-group-year">
		            <label for="departureYear">
                  <span data-lang="eng">Year</span><span data-lang="arabic">السنة</span>
                </label>
		            <input type="text" class="form-control" id="departureYear" name="departureYear" aria-required="true" value="" maxlength="4">
		        </div>
		    </div>

	    </fieldset>
    </div>

      	<div class="form-group hide-by-default show-if-mode-Air">
          <label class="form-label-bold label" for="FlightNumber" data-lang="eng">Your flight number</label>
          <label class="form-label-bold label" for="FlightNumber" data-lang="arabic">رقم الرحلة </label>
          <p class="form-hint" data-lang="eng">For example, EK009</p>
          <p class="form-hint" data-lang="arabic">مثال: EK009</p>
      		<input type="text" name="FlightNumber" />
      	</div>


    <!-- Inferred from flight no and departure date
    	<div class="form-group">
		<fieldset>
		    <legend class="form-label-bold date-field label">Departure time <span class="visuallyhidden">expected format is HH/MM</span></legend>

		    <div class="form-date" id="departureTime">
		        <p class="form-hint">For example, 21:45</p>

		        <div class="form-group form-group-day">
		            <label for="departureHour"><span class="visuallyhidden">Departure time </span>Hours <span class="visuallyhidden">expected format HH. Required</span></label>
		            <input type="text" class="form-control" id="departureHour" name="departureHour" aria-required="true" value="" maxlength="2">
		        </div>
		        <div class="form-group form-group-month">
		            <label for="departureMins"><span class="visuallyhidden">Departure time </span>Minutes <span class="visuallyhidden">expected format MM. Required</span></label>
		            <input type="text" class="form-control" id="departureMins" name="departureMins" aria-required="true" value="" maxlength="2">
		        </div>
		    </div>

	    </fieldset>
    </div>

   	-->


	<div class="form-group ">
		<fieldset>
           <legend class="form-label-bold date-field label" data-lang="eng">What date will you be arriving in the UK?</legend>
           <legend class="form-label-bold date-field label" data-lang="arabic">ما تاريخ وصولك للمملكة المتحدة؟</legend>

		    <div class="form-date" id="arrivalDate">
          <p class="form-hint" data-lang="eng">For example, 18 9 2015</p>
          <p class="form-hint" data-lang="arabic">مثال: 18 9 2015</p>

		        <div class="form-group form-group-day">
                <label for="DateOfArrivalDay" data-lang="eng">Day</label>
                <label for="DateOfArrivalDay" data-lang="arabic">يوم</label>
		            <input type="text" class="form-control" id="DateOfArrivalDay" name="DateOfArrivalDay" aria-required="true" value="" maxlength="2">
		        </div>
		        <div class="form-group form-group-month">
              <label for="DateOfArrivalMonth" data-lang="eng">Month</label>
              <label for="DateOfArrivalMonth" data-lang="arabic">شهر</label>
		            <input type="text" class="form-control" id="DateOfArrivalMonth" name="DateOfArrivalMonth" aria-required="true" value="" maxlength="2">
		        </div>
		        <div class="form-group form-group-year">
                <label for="DateOfArrivalYear" data-lang="eng">Year</label>
                <label for="DateOfArrivalYear" data-lang="arabic">شهر</label>
		            <input type="text" class="form-control" id="DateOfArrivalYear" name="DateOfArrivalYear" aria-required="true" value="" maxlength="4">
		        </div>
		    </div>

	    </fieldset>
    </div>

    	<div class="form-group hide-if-flightsapi">
		<fieldset>
      <div class="hide-by-default show-if-mode-Air">
        <legend class="form-label-bold date-field label" data-lang="eng">What time is your flight due to land in the UK?</legend>
        <legend class="form-label-bold date-field label" data-lang="arabic">وقت هبوط الطائرة بالمملكة المتحدة؟</legend>
      </div>
      <div class="hide-by-default show-if-mode-Train">
        <p data-lang="eng">What time is your train due to arrive?</p>
        <p data-lang="arabic">ما وقت وصول القطار؟</p>
      </div>
      <div class="hide-by-default show-if-mode-Sea">
        <p data-lang="eng">What time is your boat due to arrive?</p>
        <p data-lang="arabic">ما موعد وصول السفينة؟</p>
      </div>
		    <div class="form-date" id="departureTime">
          <p class="form-hint" data-lang="eng">For example, 21:45</p>
          <p class="form-hint" data-lang="arabic">مثال: 21:45</p>

		        <div class="form-group form-group-day">
                <label data-lang="eng">Hours</label>
                <label data-lang="arabic">ساعة</label>
		            <input type="text" class="form-control" id="arrTimeHour" name="arrTimeHour" aria-required="true" value="" maxlength="2">
		        </div>
		        <div class="form-group form-group-month">
              <label data-lang="eng">Minutes</label>
              <label data-lang="arabic">دقيقة</label>
		            <input type="text" class="form-control" id="arrTimeMins" name="arrTimeMins" aria-required="true" value="" maxlength="2">
		        </div>
		    </div>

	    </fieldset>
    </div>



	<!-- Hiding this so we can validate where best to communicate the rules around re-entry and requirement for additional EVW for subsequent entry into the UK

    <fieldset class="inline">

	    <legend class="form-label-bold">Do you plan to travel to the UK again within three months of this visit?</legend>

	    <div class="form-group form-group-compound">

	      <label class="block-label" for="TravelPlans-1">
	        <input id="TravelPlans-1" name="TravelPlans" value="Yes" type="radio"> Yes
	      </label>

	      <label class="block-label" for="TravelPlans-2">
	        <input id="TravelPlans-2" name="TravelPlans" value="No" type="radio"> No
	      </label>

	    </div>

  	</fieldset>
  	-->

	<a href="your-journey-2" class="button">
    <span data-lang="eng">Continue</span>
    <span data-lang="arabic">استمر</span>
  </a>

	<!-- <input type="submit" id="updateContinue" class="button next" value="Continue" style="display: inline-block;"> -->

</form>

</main>
{{/content}}

{{/layout}}
