{{<layout}}

{{$pageTitle}}
	Electronic Visa Waiver
{{/pageTitle}}

{{$content}}


<main id="content" role="main">
	{{>includes/banner}}


	<form name="passport-details">
		<h1 class="heading-large">Check your passport image</h1>
		<p class="panel-indent">
			Is your image the right way up?
			<br>
			Is all the information at the bottom of the page complete and clear?
		</p>
		<p><img src="/public/img/ppt.jpg" style="max-width:100%;"></p>
		<p>
			<a class="button secondary" href="uploadpage">Re-upload</a>
		</p>
		<p>
			<a class="button" href="name">Continue</a>
		</p>
</form>
<script type="text/javascript">
$("input[type=file]").on('change',function(){
    window.location.href = "uploadedpage";
});
</script>
</main>

{{/content}}

{{/layout}}
