{{<layout}}

{{$pageTitle}}
	Electronic Visa Waiver
{{/pageTitle}}

{{$content}}


<main id="content" role="main">
	{{>includes/banner}}

	<h1 class="heading-xlarge">Send us digital document copies</h1>
	<p>If you have a photograph or scan of your passport or tickets, please attach them here so that we can check the details you've entered are correct</p>
	<div class="panel-indent">
		<p>Your name, and other details, need to be accurate for us to process your Electronic Visa Waiver. By sending digital copies we can check your details have been entered accurately.</p>
	</div>
	<form name="documents">
		<h2 class="heading-medium">Your passport</h2>
		<div class="form-group">
			<input type="file" class="" name="passport">
		</div>
<!--
			<h2 class="heading-medium">Your travel ticket</h2>
			<div class="form-group">
				<input type="file" class="" name="travel">
			</div>

				<h2 class="heading-medium">Your accommodation booking</h2>
				<div class="form-group">
					<input type="file" class="" name="accom">
				</div>
-->
	<a href="review-answers" class="button">
		<span data-lang="eng">Continue</span>
		<span data-lang="arabic">استمر</span>
	</a>

</main>

{{/content}}

{{/layout}}
