{{<layout}}

{{$pageTitle}}
	Electronic Visa Waiver
{{/pageTitle}}

{{$content}}


<main id="content" role="main">
	{{>includes/banner}}


	<h1 class="heading-xlarge">Send us a scan or photo of your passport</h1>
	<form name="passport-details">

	<legend class="form-label-bold" data-lang="eng">Help us to check your details is correct</legend>
	<legend class="form-label-bold" data-lang="arabic">تريد أن تشمل صورة جواز السفر؟</legend>
<p data-lang="eng">If you have a photo or scan of your passport you can send it with your application. We can then check your details and process your application more quickly.</p>
<p data-lang="arabic">إذا كان لديك صورة من جواز السفر الخاص بك، يمكنك إرسالها مع طلبك حتى نتمكن من التحقق تم إدخال كل شيء بشكل صحيح .</p>

<fieldset class="inline">

<div class="form-group form-group-compound">

 <label class="block-label" for="uploadPassport-1">
	 <input id="uploadPassport-1" name="uploadPassport" value="Yes" type="radio" data-storage="Yes">
	 <span data-lang="eng">Yes</span>
	 <span data-lang="arabic">نعم</span>
 </label>
 <label class="block-label" for="uploadPassport-2">
	 <input id="uploadPassport-2" name="uploadPassport" value="No" type="radio" data-storage="No">
	 <span data-lang="eng">No</span>
	 <span data-lang="arabic">لا</span>
 </label>

</div>

</fieldset>

<div class="form-group panel-indent hide-by-default optional-section-uploadPassport" data-toggle-value="Yes">
	<label class="form-label-bold label" for="passportFile" data-lang="eng2">Upload a passport picture</label>
	<!--<label class="form-label-bold label" for="OtherTravellers" data-lang="arabic2">يرجى إعطاء أسماء آلاخرين الذين يسافرون معك</label>-->
	<input name="passportFile" class="form-control" type="file">
	<!--<p data-lang="eng">An EVW needs to be completed for each of these passengers.</p>
	<p data-lang="arabic">يحتاج إلى الإعفاء من تأشيرة الدخول الإلكترونية إلى أن تكتمل لكل من هؤلاء الركاب .</p>-->
</div>
</form>
	<a href="name" class="button">
		<span data-lang="eng">Continue</span>
		<span data-lang="arabic">استمر</span>
	</a>

</main>

{{/content}}

{{/layout}}
