{{<layout}}

{{$pageTitle}}
	Electronic Visa Waiver
{{/pageTitle}}

{{$content}}


<main id="content" role="main">
	{{>includes/banner}}


	<h1 class="heading-xlarge">Upload a copy of your passport information page</h1>
	<form name="passport-details">

	<p>
		<img src="https://dl.dropboxusercontent.com/u/91778337/passport-illustration.png" alt="" style="float:right;; margin-left:5%; border: 10px solid #eee;" width="40%" />
		To make your journey to the UK easier we ask you to provide us with a copy of your passport information page.</p>
<p>This is the page with your photo, name, date of birth and other information. </p>
<p>The image needs to clearly show all the information on the page.</p>
<p class="bold-small"><img src="https://dl.dropboxusercontent.com/u/91778337/mobile.png" style="float:left; width:37px; margin-right:10px;"> You can use your smartphone to take a photo of your passport information page.</p>
<p>You can also use an image from your computer, or a picture scanner.</p>
<p>When you upload your passport we will:</p>
<ul>
	<li>&#10004; use it to check the information you have provided matches the information on your passport</li>
	<li>&#10004; contact you if the information is incorrect</li>
</ul>
<p>&nbsp;</p>
<p>&#10007; If you do not provide a copy of your passport information page, we can not check your information is correct.</p>

<fieldset class="inline">

<div class="form-group form-group-compound">

 <!--<label class="block-label" for="uploadPassport-1">
	 <input id="uploadPassport-1" name="uploadPassport" value="Yes" type="radio" data-storage="Yes">
	 <span data-lang="eng">Yes</span>
	 <span data-lang="arabic">نعم</span>
 </label>
 <label class="block-label" for="uploadPassport-2">
	 <input id="uploadPassport-2" name="uploadPassport" value="No" type="radio" data-storage="No">
	 <span data-lang="eng">No</span>
	 <span data-lang="arabic">لا</span>
 </label>
-->
</div>

</fieldset>

<div class="form-group  hides-by-default optional-section-uploadPassport" data-toggle-value="Yes">
<p>&nbsp;</p>
	<!--<label class="form-label-bold label" for="OtherTravellers" data-lang="arabic2">يرجى إعطاء أسماء آلاخرين الذين يسافرون معك</label>-->
	<div class=" button">
    <span>Upload image of my passport</span>
    <input name="passportFile" class="form-control upload" type="file" style="position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
		width: 100%;
		height: 100%;">
	</div>
	<!--<p data-lang="eng">An EVW needs to be completed for each of these passengers.</p>
	<p data-lang="arabic">يحتاج إلى الإعفاء من تأشيرة الدخول الإلكترونية إلى أن تكتمل لكل من هؤلاء الركاب .</p>-->
</div>
<div class="form-group">
          <details>
            <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span class="summary">I don't have an image of my passport...</span></summary>
            <div class="panel-indent" id="details-content-0" aria-hidden="false" style="display: block;">
              <p>
                If you do not have an image of your passport picture page you can still use this service.
              </p>
							<p>It is important that you enter the information requested exactly as written on your passport. </p>
							<p>If you do not, you may not be allowed to board the flight to the UK.</p>
							<p class="bold-small">If your EVW contains errors, you will be denied access to the UK.</p> 
							<p><a href="name">Continue, I don't have an image of my passport</a></p>
            </div>
          </details>
        </div>
</form>
<script type="text/javascript">
$("input[type=file]").on('change',function(){
    window.location.href = "name";
});
</script>
</main>

{{/content}}

{{/layout}}
