{{<layout}}

{{$pageTitle}}
	Electronic Visa Waiver
{{/pageTitle}}

{{$content}}


<main id="content" role="main">
	{{>includes/banner}}


	<h1 class="heading-xlarge">Upload an image of your passport picture page</h1>
	<form name="passport-details">

	<p>To make your journey to the UK easier we ask you to provide us with a copy of your passport picture page. This is the page with your photo, name, date of birth and other information.</p>
<p>If you have a photo, or a scan of your passport picture page, you can upload it here. </p>
<p>The benefits of uploading your passport are:</p>
<ul>
	<li>&bull; the information you provide can be verified and any mistakes can be fixed.</li>
	<li>&bull; you will receive e-mail confirmation with an EVW number</li>
</ul>

<fieldset class="inline">

<div class="form-group form-group-compound">

 <!--<label class="block-label" for="uploadPassport-1">
	 <input id="uploadPassport-1" name="uploadPassport" value="Yes" type="radio" data-storage="Yes">
	 <span data-lang="eng">Yes</span>
	 <span data-lang="arabic">نعم</span>
 </label>
 <label class="block-label" for="uploadPassport-2">
	 <input id="uploadPassport-2" name="uploadPassport" value="No" type="radio" data-storage="No">
	 <span data-lang="eng">No</span>
	 <span data-lang="arabic">لا</span>
 </label>
-->
</div>

</fieldset>

<div class="form-group panel-indent hides-by-default optional-section-uploadPassport" data-toggle-value="Yes">
	<label class="form-label-bold label" for="passportFile" data-lang="eng2">Upload a passport picture</label>
	<!--<label class="form-label-bold label" for="OtherTravellers" data-lang="arabic2">يرجى إعطاء أسماء آلاخرين الذين يسافرون معك</label>-->
	<input name="passportFile" class="form-control" type="file">
	<!--<p data-lang="eng">An EVW needs to be completed for each of these passengers.</p>
	<p data-lang="arabic">يحتاج إلى الإعفاء من تأشيرة الدخول الإلكترونية إلى أن تكتمل لكل من هؤلاء الركاب .</p>-->
</div>
<div class="form-group">
          <details>
            <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span class="summary">I don't have an image of my passport</span></summary>
            <div class="panel-indent" id="details-content-0" aria-hidden="false" style="display: block;">
              <p>
                If you do not have an image of your passport picture page you can still use this service.
              </p>
							<p>It is important that you enter the information requested exactly as written on your passport. </p>
							<p>If you do not, you may not be allowed to board the flight to the UK.</p>
            </div>
          </details>
        </div>
</form>
	<a href="name" class="button">
		<span>Upload image of my passport</span>
	</a>

</main>

{{/content}}

{{/layout}}
