{{<layout}}

{{$pageTitle}}Your journey to the UK{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/banner}}
  <h1 class="heading-large">Your journey to the UK</h1>

<form name="journey-details">

	<!-- We may be able to drop this question if we can infer it from the port of departure Q

	<div class="form-group">
		<label class="form-label-bold label" for="DepartureCountry">Which country will you be travelling to the UK from?</label>
		<p class="form-hint">This is the country you will leave to travel to the UK</p>
		<input type="text" name="DepartureCountry" />
	</div>

	-->



	<div class="form-group">

		<legend class="form-label-bold">How will you be travelling to the UK?</legend>
		<p class="form-hint">This is the journey you will make to arrive in the UK</p>

		<label class="block-label" for="DepartureMode-1">
	    	<input id="DepartureMode-1" name="DepartureMode" value="Air" type="radio" data-storage="Air">By air
		</label>

		<label class="block-label" for="DepartureMode-2">
	    	<input id="DepartureMode-2" name="DepartureMode" value="Train" type="radio" data-storage="Train">By train
	  	</label>

	  	<label class="block-label" for="DepartureMode-3">
	    	<input id="DepartureMode-3" name="DepartureMode" value="Sea" type="radio" data-storage="Sea">By sea
	  	</label>

  	</div>


	<!-- Departure details
		For flights, port of departure can be inferred from flight no


	<div class="form-group">
		<label class="form-label-bold label" for="DepartureAirport">Which airport are you flying to the UK from?</label>
		<input type="text" name="DepartureAirport" />
	</div>

	-->

  	<div class="form-group">
  		<label class="form-label-bold label" for="FlightNumber">Flight number</label>
  		<p class="form-hint">For example, BA1234</p>
  		<input type="text" name="FlightNumber" />
  	</div>


    	<div class="form-group">
    		<label class="form-label-bold label" for="FlightNumber">Departing from</label>
    		<input type="text" name="DepartureLocation" class="form-control">
    	</div>


      	<div class="form-group">
      		<label class="form-label-bold label" for="FlightNumber">Arrival airport</label>
      		<input type="text" name="ArrivalLocation" class="form-control">
      	</div>

	<div class="form-group">
		<fieldset>
		    <legend class="form-label-bold date-field label">Departure date <span class="visuallyhidden">expected format is DD/MM/YYY</span></legend>

		    <div class="form-date" id="departureDate">
		        <p class="form-hint">For example, 18 09 2015</p>

		        <div class="form-group form-group-day">
		            <label for="departureDay"><span class="visuallyhidden">Departure date </span>Day <span class="visuallyhidden">expected format DD. Required</span></label>
		            <input type="text" class="form-control" id="departureDay" name="departureDay" aria-required="true" value="" maxlength="2">
		        </div>
		        <div class="form-group form-group-month">
		            <label for="departureMonth"><span class="visuallyhidden">Departure date </span>Month <span class="visuallyhidden">expected format MM. Required</span></label>
		            <input type="text" class="form-control" id="departureMonth" name="departureMonth" aria-required="true" value="" maxlength="2">
		        </div>
		        <div class="form-group form-group-year">
		            <label for="departureYear"><span class="visuallyhidden">Departure date </span>Year <span class="visuallyhidden">expected format YYYY. Required</span></label>
		            <input type="text" class="form-control" id="departureYear" name="departureYear" aria-required="true" value="" maxlength="4">
		        </div>
		    </div>

	    </fieldset>
    </div>

    <!-- Inferred from flight no and departure date
    	<div class="form-group">
		<fieldset>
		    <legend class="form-label-bold date-field label">Departure time <span class="visuallyhidden">expected format is HH/MM</span></legend>

		    <div class="form-date" id="departureTime">
		        <p class="form-hint">For example, 21:45</p>

		        <div class="form-group form-group-day">
		            <label for="departureHour"><span class="visuallyhidden">Departure time </span>Hours <span class="visuallyhidden">expected format HH. Required</span></label>
		            <input type="text" class="form-control" id="departureHour" name="departureHour" aria-required="true" value="" maxlength="2">
		        </div>
		        <div class="form-group form-group-month">
		            <label for="departureMins"><span class="visuallyhidden">Departure time </span>Minutes <span class="visuallyhidden">expected format MM. Required</span></label>
		            <input type="text" class="form-control" id="departureMins" name="departureMins" aria-required="true" value="" maxlength="2">
		        </div>
		    </div>

	    </fieldset>
    </div>

   	-->

    <!-- Arrival details - inferred from flight no and departure date

    <div class="form-group">
		<label class="form-label-bold label" for="ArrivalAirport">Which airport will you arrive at?</label>
		<input type="text" name="ArrivalAirport" />
	</div>

	<div class="form-group">
		<fieldset>
		    <legend class="form-label-bold date-field label">Arrival date <span class="visuallyhidden">expected format is DD/MM/YYY</span></legend>

		    <div class="form-date" id="arrivalDate">
		        <p class="form-hint">For example, 18 09 2015</p>

		        <div class="form-group form-group-day">
		            <label for="DateOfArrivalDay"><span class="visuallyhidden">Arrival date </span>Day <span class="visuallyhidden">expected format DD. Required</span></label>
		            <input type="text" class="form-control" id="DateOfArrivalDay" name="DateOfArrivalDay" aria-required="true" value="" maxlength="2">
		        </div>
		        <div class="form-group form-group-month">
		            <label for="DateOfArrivalMonth"><span class="visuallyhidden">Arrival date </span>Month <span class="visuallyhidden">expected format MM. Required</span></label>
		            <input type="text" class="form-control" id="DateOfArrivalMonth" name="DateOfArrivalMonth" aria-required="true" value="" maxlength="2">
		        </div>
		        <div class="form-group form-group-year">
		            <label for="DateOfArrivalYear"><span class="visuallyhidden">Arrival date </span>Year <span class="visuallyhidden">expected format YYYY. Required</span></label>
		            <input type="text" class="form-control" id="DateOfArrivalYear" name="DateOfArrivalYear" aria-required="true" value="" maxlength="4">
		        </div>
		    </div>

	    </fieldset>
    </div>

    	<div class="form-group">
		<fieldset>
		    <legend class="form-label-bold date-field label">Arrival time <span class="visuallyhidden">expected format is HH/MM</span></legend>

		    <div class="form-date" id="departureTime">
		        <p class="form-hint">For example, 21:45</p>

		        <div class="form-group form-group-day">
		            <label for="dobDay"><span class="visuallyhidden">Arrival time </span>Hours <span class="visuallyhidden">expected format HH. Required</span></label>
		            <input type="text" class="form-control" id="deptimeHour" name="deptimeHour" aria-required="true" value="" maxlength="2">
		        </div>
		        <div class="form-group form-group-month">
		            <label for="dobMonth"><span class="visuallyhidden">Arrival time </span>Minutes <span class="visuallyhidden">expected format MM. Required</span></label>
		            <input type="text" class="form-control" id="deptimeMins" name="deptimeMins" aria-required="true" value="" maxlength="2">
		        </div>
		    </div>

	    </fieldset>
    </div>

    -->

    <!-- Additional travel information -->

     <fieldset class="inline">

	    <legend class="form-label-bold">Are you travelling to the UK with anyone else?</legend>

	    <div class="form-group form-group-compound">

	      <label class="block-label" for="TravelWithOthers-1">
	        <input id="TravelWithOthers-1" name="TravelWithOthers" value="Yes" type="radio" onChange="toggleTravelWithOthers();" data-storage="Yes"> Yes
	      </label>
	      <label class="block-label" for="TravelWithOthers-2">
	        <input id="TravelWithOthers-2" name="TravelWithOthers" value="No" type="radio" onChange="toggleTravelWithOthers();" data-storage="No"> No
	      </label>

	    </div>

  	</fieldset>

	<div id="TravellingWithOthers" class="form-group panel-indent hide-by-default show-if-others optional-section-TravelWithOthers" data-toggle-value="Yes">
		<label class="form-label-bold label" for="OtherTravellers">Please give the names of others travelling with you</label>
		<input type="text" name="OtherTravellers" class="form-control">
	</div>


	<!-- To change: turn into radio bttns, use the options from the start page, hint text on 6m stay -->

	<div class="form-group">
		<label class="form-label-bold label" for="ReasonForVisit">What is the reason for your visit to the UK?</label>
		<input type="text" name="ReasonForVisit" class="form-control">
	</div>

	<!-- Hiding this so we can validate where best to communicate the rules around re-entry and requirement for additional EVW for subsequent entry into the UK

    <fieldset class="inline">

	    <legend class="form-label-bold">Do you plan to travel to the UK again within three months of this visit?</legend>

	    <div class="form-group form-group-compound">

	      <label class="block-label" for="TravelPlans-1">
	        <input id="TravelPlans-1" name="TravelPlans" value="Yes" type="radio"> Yes
	      </label>

	      <label class="block-label" for="TravelPlans-2">
	        <input id="TravelPlans-2" name="TravelPlans" value="No" type="radio"> No
	      </label>

	    </div>

  	</fieldset>
  	-->

    	<div class=" hide-by-default show-if-travel">
    		<p class="hide-by-default show-if-dynamic"><a href="passport-details" class="button " role="button">Continue</a></p>
    		<p class="hide-if-dynamic"><a href="passport-issue" class="button " role="button">Continue</a></p>
    	</div>

	<a href="your-visit" class="button hide-if-travel">Continue</a>

	<!-- <input type="submit" id="updateContinue" class="button next" value="Continue" style="display: inline-block;"> -->

</form>

</main>
{{/content}}

{{/layout}}
