{{<layout}}

{{$pageTitle}}Your visit to the UK{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/banner}}
  <h1 class="heading-large" data-lang="eng">Your stay and departure</h1>
  <h1 class="heading-large" data-lang="arabic">زيارتكم إلى المملكة المتحدة</h1>

	<form name="visit">

	<div class="form-group">
		<label class="form-label-bold label" for="UKaddress">
      <span data-lang="eng">Enter the address of the first place you will stay after your arrival in the UK.</span>
      <span data-lang="arabic">حيث ستتمكن من البقاء في المملكة المتحدة ؟</span>
    </label>
		<input type="text" name="UKaddress1" class="form-control"><br />
		<input type="text" name="UKaddress2" class="form-control"><br />
		<input type="text" name="UKaddress3" class="form-control"><br />
		<input type="text" name="UKaddress4" class="form-control"><br />
		<input type="text" name="UKaddress5" class="form-control">
	</div>

	<!-- see https://designpatterns.hackpad.com/Addresses-CgrMSGRAhRc for address design pattern being proposed here -->

	<div class="form-group hide-if-minimal">
		<fieldset>
      <legend class="form-label-bold date-field label" data-lang="eng">When will you be leaving the UK?</legend>
      <legend class="form-label-bold date-field label" data-lang="arabic">متى تغادرون المملكة المتحدة؟</legend>

		    <div class="form-date" id="departureDate">
		        <p class="form-hint" data-lang="eng">For example, 18 9 2015</p>
            <p class="form-hint" data-lang="arabic">18 9 2105 مثلا</p>


		        <div class="form-group form-group-day">
		            <label for="LeavingDateDay">
                  <span data-lang="eng">Day</span><span data-lang="arabic">اليوم</span>
                </label>
		            <input type="text" class="form-control" id="LeavingDateDay" name="LeavingDateDay" aria-required="true" value="" maxlength="2">
		        </div>
		        <div class="form-group form-group-month">
		            <label for="LeavingDateMonth">
                  <span data-lang="eng">Month</span><span data-lang="arabic">الشهر</span>
                </label>
		            <input type="text" class="form-control" id="LeavingDateMonth" name="LeavingDateMonth" aria-required="true" value="" maxlength="2">
		        </div>
		        <div class="form-group form-group-year">
		            <label for="LeavingDateYear">
                  <span data-lang="eng">Year</span><span data-lang="arabic">السنة</span>
                </label>
		            <input type="text" class="form-control" id="LeavingDateYear" name="LeavingDateYear" aria-required="true" value="" maxlength="4">
		        </div>
		    </div>

	    </fieldset>
    </div>

    <!-- Add air/sea/train option in here -->
<!--
    <div class="form-group hide-if-minimal">
      <label class="form-label-bold label" for="DepartureAirport" data-lang="eng">Which airport will you leave the UK from?</label>
      <label class="form-label-bold label" for="DepartureAirport" data-lang="arabic">من اى مطار سوف تغادر المملكة المتحدة ؟</label>
		<input type="text" name="DepartureAirport" class="form-control">
	</div>
-->
	<div class="form-group hide-if-minimal">
    <label class="form-label-bold label" for="FlightNumber" data-lang="eng">Enter the flight number, train number or boat name for your departure from the UK.</label>
    <label class="form-label-bold label" for="FlightNumber" data-lang="arabic">رقم الرحلة <span class="form-hint">BA1234 مثلا</span></label>
		<input type="text" name="FlightNumber" class="form-control">
	</div>


	<a href="contact-details" class="button">
    <span data-lang="eng">Continue</span>
    <span data-lang="arabic">استمر</span>
  </a>

	<!-- <input type="submit" id="updateContinue" class="button next" value="Continue" style="display: inline-block;"> -->

</form>

</main>
{{/content}}

{{/layout}}
