{{<layout}}

{{$pageTitle}}Your journey to the UK{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <h1 class="heading-large">Your journey to the UK</h1>

<form>

	<div class="form-group">
		<label class="form-label-bold label" for="DepartureCountry">Which country are you travelling from?</label>
		<input type="text" name="PassportNumber" />
	</div>

	<div class="form-group">
		<label class="form-label-bold label" for="DepartureAirport">Which airport are you flying from</label>
		<input type="text" name="PlaceOfIssue" />
	</div>

	<div class="form-group">
		<fieldset>
		    <legend class="form-label-bold date-field label">Departure date <span class="visuallyhidden">expected format is DD/MM/YYY</span></legend>

		    <div class="form-date" id="departureDate">
		        <p class="form-hint">For example, 18 09 2015</p>

		        <div class="form-group form-group-day">
		            <label for="dobDay"><span class="visuallyhidden">Departure date </span>Day <span class="visuallyhidden">expected format DD. Required</span></label>
		            <input type="text" class="form-control" id="dobDay" name="dobDay" aria-required="true" value="" maxlength="2">
		        </div>
		        <div class="form-group form-group-month">
		            <label for="dobMonth"><span class="visuallyhidden">Departure date </span>Month <span class="visuallyhidden">expected format MM. Required</span></label>
		            <input type="text" class="form-control" id="dobMonth" name="dobMonth" aria-required="true" value="" maxlength="2">
		        </div>
		        <div class="form-group form-group-year">
		            <label for="dobYear"><span class="visuallyhidden">Departure date </span>Year <span class="visuallyhidden">expected format YYYY. Required</span></label>
		            <input type="text" class="form-control" id="dobYear" name="dobYear" aria-required="true" value="" maxlength="4">
		        </div>
		    </div>

	    </fieldset>
    </div>

    	<div class="form-group">
		<fieldset>
		    <legend class="form-label-bold date-field label">Departure time <span class="visuallyhidden">expected format is HH/MM</span></legend>

		    <div class="form-date" id="departureTime">
		        <p class="form-hint">For example, 21:45</p>

		        <div class="form-group form-group-day">
		            <label for="dobDay"><span class="visuallyhidden">Departure time </span>Hours <span class="visuallyhidden">expected format HH. Required</span></label>
		            <input type="text" class="form-control" id="deptimeHour" name="deptimeHour" aria-required="true" value="" maxlength="2">
		        </div>
		        <div class="form-group form-group-month">
		            <label for="dobMonth"><span class="visuallyhidden">Departure time </span>Minutes <span class="visuallyhidden">expected format MM. Required</span></label>
		            <input type="text" class="form-control" id="deptimeMins" name="deptimeMins" aria-required="true" value="" maxlength="2">
		        </div>
		    </div>

	    </fieldset>
    </div>


	<div class="form-group">
		<label class="form-label-bold label" for="FlightNumber">Flight number</label>
		<p class="form-hint">For example, BA1234</p>
		<input type="text" name="FlightNumber" />
	</div>





	<div class="form-group">
		<label class="form-label-bold label" for="ReasonForVisit">What is the reason for your visit to the UK?</label>
		<input type="text" name="ReasonForVisit" />
	</div>


    <div class="form-group">
    			<label class="form-label-bold label" for="TravelPlans">Do you plan to travel to the UK again within three months of this visit?</label>
		<select id="Sex" name="TravelPlans" aria-required="true">
                <option value="" disabled="disabled" selected> </option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>            
        </select>


    </div>

	<input type="submit" id="updateContinue" class="button js-hidden next" value="Continue" style="display: inline-block;">

</form>

</main>
{{/content}}

{{/layout}}

