{{<layout}}

{{$pageTitle}}Your journey to the UK{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/banner}}
  <h1 class="heading-large" data-lang="eng">About your visit</h1>
  <h1 class="heading-large" data-lang="arabic">عن زيارتك</h1>

<form name="journey-details">

	<!-- We may be able to drop this question if we can infer it from the port of departure Q

	<div class="form-group">
		<label class="form-label-bold label" for="DepartureCountry">Which country will you be travelling to the UK from?</label>
		<p class="form-hint">This is the country you will leave to travel to the UK</p>
		<input type="text" name="DepartureCountry" />
	</div>

	-->


  	<div class="form-group hide-if-minimal">
      <label class="form-label-bold label" for="ReasonForVisit" data-lang="eng">What is the main reason for your visit to the UK?</label>
      <label class="form-label-bold label" for="ReasonForVisit" data-lang="arabic">ما سبب مجيئك للمملكة المتحدة؟</label>


      	    <div class="form-group form-group-compound hide-by-default">

      	      <label class="block-label" for="ReasonForVisit-1">
      	        <input id="ReasonForVisit-1" name="ReasonForVisit" value="Yes" type="radio" data-storage="Business">
                <span data-lang="eng">On business</span>
                <span data-lang="arabic">على الأعمال التجارية</span>
      	      </label>
              <label class="block-label" for="ReasonForVisit-2">
      	        <input id="ReasonForVisit-2" name="ReasonForVisit" value="No" type="radio" data-storage="Tourism">
                <span data-lang="eng">For a holiday or as a tourist</span>
                <span data-lang="arabic">لقضاء عطلة</span>
      	      </label>
              <label class="block-label" for="ReasonForVisit-3">
      	        <input id="ReasonForVisit-3" name="ReasonForVisit" value="No" type="radio" data-storage="Study">
                <span data-lang="eng">To study</span>
                <span data-lang="arabic">ليدرس</span>
      	      </label>
              <label class="block-label" for="ReasonForVisit-4">
      	        <input id="ReasonForVisit-4" name="ReasonForVisit" value="No" type="radio" data-storage="Medical">
                <span data-lang="eng">Medical care</span>
                <span data-lang="arabic">رعاية طبية</span>
      	      </label>

      	    </div>
            <div class="form-group form-group-compound">
              <input type="text" name="ReasonForVisit" class="form-control">
            </div>


  	</div>


    <!-- Additional travel information -->

     <fieldset class="inline">

       <legend class="form-label-bold" data-lang="eng">Are you travelling to the UK alone?</legend>
       <legend class="form-label-bold" data-lang="arabic">هل تسافر للمملكة المتحدة لوحدك؟</legend>

	    <div class="form-group form-group-compound">

        <label class="block-label" for="TravelWithOthers-2">
	        <input id="TravelWithOthers-2" name="TravelWithOthers" value="No" type="radio" onChange="toggleTravelWithOthers();" data-storage="No">
          <span data-lang="eng">Yes</span>
          <span data-lang="arabic">نعم</span>
	      </label>

	      <label class="block-label" for="TravelWithOthers-1">
	        <input id="TravelWithOthers-1" name="TravelWithOthers" value="Yes" type="radio" onChange="toggleTravelWithOthers();" data-storage="Yes">
          <span data-lang="eng">No</span>
          <span data-lang="arabic">لا</span>
	      </label>

	    </div>

  	</fieldset>

	<div id="TravellingWithOthers" class="form-group panel-indent hide-by-default show-if-others optional-section-TravelWithOthers" data-toggle-value="Yes">
    <label class="form-label-bold label" for="OtherTravellers" data-lang="eng">Give the name of each other person travelling with you. An electronic visa waiver must be completed for each traveller.</label>
    <label class="form-label-bold label" for="OtherTravellers" data-lang="arabic">أعط أسماء كل شخص تسافر معه. يجب أن يتم إتمام طلب تأشيرة إلكترونية لكل مسافر.</label>
		<textarea name="OtherTravellers" class="form-control"></textarea>
</p>
	</div>


	<!-- To change: turn into radio bttns, use the options from the start page, hint text on 6m stay -->

	<!-- Hiding this so we can validate where best to communicate the rules around re-entry and requirement for additional EVW for subsequent entry into the UK

    <fieldset class="inline">

	    <legend class="form-label-bold">Do you plan to travel to the UK again within three months of this visit?</legend>

	    <div class="form-group form-group-compound">

	      <label class="block-label" for="TravelPlans-1">
	        <input id="TravelPlans-1" name="TravelPlans" value="Yes" type="radio"> Yes
	      </label>

	      <label class="block-label" for="TravelPlans-2">
	        <input id="TravelPlans-2" name="TravelPlans" value="No" type="radio"> No
	      </label>

	    </div>

  	</fieldset>
  	-->

    	<div class=" hide-by-default show-if-travel">
    		<p class="hide-by-default show-if-dynamic"><a href="passport-details" class="button " role="button">
          Continue
        </a></p>
    		<p class="hide-if-dynamic"><a href="passport-issue" class="button " role="button">
          Continue
        </a></p>
    	</div>

	<a href="your-visit" class="button hide-if-travel">
    <span data-lang="eng">Continue</span>
    <span data-lang="arabic">استمر</span>
  </a>

	<!-- <input type="submit" id="updateContinue" class="button next" value="Continue" style="display: inline-block;"> -->

</form>

</main>
{{/content}}

{{/layout}}
